language: go
go:
  - '1.15'
  - '1.16'
install:
  - make install
script:
  - make test
  - if [[ "$TRAVIS_BRANCH" == "main"  ||  "$TRAVIS_BRANCH" == "travis" ]] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
    make cluster-test;
    echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin;
    fi
deploy:
  - provider: script
    script: make docker-build && make docker-push
    skip_cleanup: true
    on:
      tags: true
      go: '1.16'
notifications:
  slack:
    if: branch = main
    on_pull_requests: false
    on_success: never
    on_failure: change
    rooms:
      secure: V34PCbNL5LT8vrssymxcAE9OszdVFNMm9z4iCDH9lz7PeHYMym1whQ779VVcmWfGBq9npk3kvF1eUyBRqADqE4nMznKol2N6pmWSRX1mgA0L0LRHPyOnYTgzOs4rOJQyihFt37xQjzKOdUhnrvS2nyLHcKluHuBeOUvIKyNftvmq3wJBqmgESJm59CBSMk19V/e0iZTl3BBrjFz5XKMEURtbOFqJFzQqK2wU7CJA9iTub4pRLzOQd05URhcPfI4+J3O9kn2gNTs6aK2bgEZTBOAX/TE997gt2BlL2bxhLVyCFb0yBaGRaA8l6adJKzVMUbi5XH5xHzdaMbS3nvBKEILQsBdy+XXI3l33sIvdHPcHCE+QD6ri8Yz2TiHrEAiaN5vrXLqjnkJsFFP2qcWHnug263TldOB1gilGoKmCXPvfVoJJC7ezjEw5BCCtz5+/Aqmsxqi4FoB8PXH4hvNYHzVtllve6vVNS/tmB3a8fQcceJf1V3bu+m/cf9hQSHAvPuq9LpQc6QZYOqYkOxgEYx80oirVP2G9Zh8GO0Pp5/HNx7+gBgUTi24iDL8SjWhI4PuP2yNFB9Z/uZnvweQ9MBzA7liEOHsPaOPfEKsRY01SiKK/HXdbK04AhAxPNJT/rQbbS4rDk3kZN/pfqqCtyYYJufZkYZNuiUeZe5VftSg=
