/*
 * Twilio - Insights
 *
 * This is the public Twilio REST API.
 *
 * API version: 5.15.0
 * Contact: support@twilio.com
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package openapi

import (
	"encoding/json"
	"fmt"
	twilio "github.com/twilio/twilio-go/client"
	"net/url"
)

type VideoParticipantSummaryTagApiService struct {
	baseURL string
	client  *twilio.Client
}

func NewVideoParticipantSummaryTagApiService(client *twilio.Client) *VideoParticipantSummaryTagApiService {
	return &VideoParticipantSummaryTagApiService {
		client: client,
		baseURL: fmt.Sprintf("https://studio.%s", client.BaseURL),
	}
}

/*
FetchVideoParticipantSummary Method for FetchVideoParticipantSummary
 * @param roomSid
 * @param participantSid
@return InsightsV1VideoRoomSummaryVideoParticipantSummary
*/
func (c *VideoParticipantSummaryTagApiService) FetchVideoParticipantSummary(roomSid string, participantSid string) (*InsightsV1VideoRoomSummaryVideoParticipantSummary, error) {
	path := "/v1/Video/Rooms/{RoomSid}/Participants/{ParticipantSid}"
	path = strings.Replace(path, "{"+"RoomSid"+"}", roomSid, -1)
	path = strings.Replace(path, "{"+"ParticipantSid"+"}", participantSid, -1)

	data := 0
	headers := 0



	resp, err := c.client.Get(c.baseURL+path, data, headers)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()

	ps := &InsightsV1VideoRoomSummaryVideoParticipantSummary{}
	if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
		return nil, err
	}

	return ps, err
}
// ListVideoParticipantSummaryParams Optional parameters for the method 'ListVideoParticipantSummary'
type ListVideoParticipantSummaryParams struct {
	PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListVideoParticipantSummary Method for ListVideoParticipantSummary
 * @param roomSid
 * @param optional nil or *ListVideoParticipantSummaryOpts - Optional Parameters:
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InsightsV1VideoRoomSummaryVideoParticipantSummaryReadResponse
*/
func (c *VideoParticipantSummaryTagApiService) ListVideoParticipantSummary(roomSid string, params *ListVideoParticipantSummaryParams) (*InsightsV1VideoRoomSummaryVideoParticipantSummaryReadResponse, error) {
	path := "/v1/Video/Rooms/{RoomSid}/Participants"
	path = strings.Replace(path, "{"+"RoomSid"+"}", roomSid, -1)

	data := url.Values{}
	headers := 0

	if params != nil && params.PageSize != nil {
		data.Set("PageSize", string(*params.PageSize))
	}


	resp, err := c.client.Get(c.baseURL+path, data, headers)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()

	ps := &InsightsV1VideoRoomSummaryVideoParticipantSummaryReadResponse{}
	if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
		return nil, err
	}

	return ps, err
}
