/*
 * Twilio - Insights
 *
 * This is the public Twilio REST API.
 *
 * API version: 5.15.0
 * Contact: support@twilio.com
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package openapi

import (
	"encoding/json"
	"fmt"
	twilio "github.com/twilio/twilio-go/client"
	"net/url"
)

type EventsTagApiService struct {
	baseURL string
	client  *twilio.Client
}

func NewEventsTagApiService(client *twilio.Client) *EventsTagApiService {
	return &EventsTagApiService {
		client: client,
		baseURL: fmt.Sprintf("https://studio.%s", client.BaseURL),
	}
}
// ListEventParams Optional parameters for the method 'ListEvent'
type ListEventParams struct {
	Edge *string `json:"Edge,omitempty"`
	PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListEvent Method for ListEvent
 * @param callSid
 * @param optional nil or *ListEventOpts - Optional Parameters:
 * @param "Edge" (string) - 
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InsightsV1CallEventReadResponse
*/
func (c *EventsTagApiService) ListEvent(callSid string, params *ListEventParams) (*InsightsV1CallEventReadResponse, error) {
	path := "/v1/Voice/{CallSid}/Events"
	path = strings.Replace(path, "{"+"CallSid"+"}", callSid, -1)

	data := url.Values{}
	headers := 0

	if params != nil && params.Edge != nil {
		data.Set("Edge", *params.Edge)
	}
	if params != nil && params.PageSize != nil {
		data.Set("PageSize", string(*params.PageSize))
	}


	resp, err := c.client.Get(c.baseURL+path, data, headers)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()

	ps := &InsightsV1CallEventReadResponse{}
	if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
		return nil, err
	}

	return ps, err
}
