/*
 * Twilio - Chat
 *
 * This is the public Twilio REST API.
 *
 * API version: 5.15.0
 * Contact: support@twilio.com
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package openapi

import (
	"encoding/json"
	"fmt"
    twilio "github.com/twilio/twilio-go/client"
    "net/url"
    "strings"
    ""
    "reflect"
)

type DefaultApiService struct {
    baseURL string
    client  *twilio.Client
}

func NewDefaultApiService(client *twilio.Client) *DefaultApiService {
    return &DefaultApiService{
        client: client,
        baseURL: fmt.Sprintf("https://studio.%s", client.BaseURL),
    }
}
// CreateChannelParams Optional parameters for the method 'CreateChannel'
type CreateChannelParams struct {
    Attributes *string `json:"Attributes,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    Type *string `json:"Type,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateChannel Method for CreateChannel
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to create the resource under.
 * @param optional nil or *CreateChannelOpts - Optional Parameters:
 * @param "Attributes" (string) - A valid JSON string that contains application-specific data.
 * @param "FriendlyName" (string) - A descriptive string that you create to describe the new resource. It can be up to 64 characters long.
 * @param "Type" (string) - The visibility of the channel. Can be: `public` or `private` and defaults to `public`.
 * @param "UniqueName" (string) - An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL. This value must be 64 characters or less in length and be unique within the Service.
@return ChatV1ServiceChannel
*/
func (c *DefaultApiService) CreateChannel(serviceSid string, params *CreateChannelParams) (*ChatV1ServiceChannel, error) {
    path := "/v1/Services/{ServiceSid}/Channels"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Attributes != nil {
        data.Set("Attributes", *params.Attributes)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.Type != nil {
        data.Set("Type", *params.Type)
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannel{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateCredentialParams Optional parameters for the method 'CreateCredential'
type CreateCredentialParams struct {
    ApiKey *string `json:"ApiKey,omitempty"`
    Certificate *string `json:"Certificate,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    PrivateKey *string `json:"PrivateKey,omitempty"`
    Sandbox *bool `json:"Sandbox,omitempty"`
    Secret *string `json:"Secret,omitempty"`
    Type *string `json:"Type,omitempty"`
}

/*
CreateCredential Method for CreateCredential
 * @param optional nil or *CreateCredentialOpts - Optional Parameters:
 * @param "ApiKey" (string) - [GCM only] The API key for the project that was obtained from the Google Developer console for your GCM Service application credential.
 * @param "Certificate" (string) - [APN only] The URL encoded representation of the certificate. For example,  `-----BEGIN CERTIFICATE----- MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A== -----END CERTIFICATE-----`
 * @param "FriendlyName" (string) - A descriptive string that you create to describe the new resource. It can be up to 64 characters long.
 * @param "PrivateKey" (string) - [APN only] The URL encoded representation of the private key. For example, `-----BEGIN RSA PRIVATE KEY----- MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR. -----END RSA PRIVATE KEY-----`
 * @param "Sandbox" (bool) - [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production.
 * @param "Secret" (string) - [FCM only] The **Server key** of your project from the Firebase console, found under Settings / Cloud messaging.
 * @param "Type" (string) - The type of push-notification service the credential is for. Can be: `gcm`, `fcm`, or `apn`.
@return ChatV1Credential
*/
func (c *DefaultApiService) CreateCredential(params *CreateCredentialParams) (*ChatV1Credential, error) {
    path := "/v1/Credentials"

    data := url.Values{}
    headers := 0

    if params != nil && params.ApiKey != nil {
        data.Set("ApiKey", *params.ApiKey)
    }
    if params != nil && params.Certificate != nil {
        data.Set("Certificate", *params.Certificate)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.PrivateKey != nil {
        data.Set("PrivateKey", *params.PrivateKey)
    }
    if params != nil && params.Sandbox != nil {
        data.Set("Sandbox", string(*params.Sandbox))
    }
    if params != nil && params.Secret != nil {
        data.Set("Secret", *params.Secret)
    }
    if params != nil && params.Type != nil {
        data.Set("Type", *params.Type)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1Credential{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateInviteParams Optional parameters for the method 'CreateInvite'
type CreateInviteParams struct {
    Identity *string `json:"Identity,omitempty"`
    RoleSid *string `json:"RoleSid,omitempty"`
}

/*
CreateInvite Method for CreateInvite
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to create the resource under.
 * @param channelSid The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the new resource belongs to.
 * @param optional nil or *CreateInviteOpts - Optional Parameters:
 * @param "Identity" (string) - The `identity` value that uniquely identifies the new resource's [User](https://www.twilio.com/docs/api/chat/rest/v1/user) within the [Service](https://www.twilio.com/docs/api/chat/rest/v1/service). See [access tokens](https://www.twilio.com/docs/api/chat/guides/create-tokens) for more info.
 * @param "RoleSid" (string) - The SID of the [Role](https://www.twilio.com/docs/api/chat/rest/roles) assigned to the new member.
@return ChatV1ServiceChannelInvite
*/
func (c *DefaultApiService) CreateInvite(serviceSid string, channelSid string, params *CreateInviteParams) (*ChatV1ServiceChannelInvite, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Identity != nil {
        data.Set("Identity", *params.Identity)
    }
    if params != nil && params.RoleSid != nil {
        data.Set("RoleSid", *params.RoleSid)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannelInvite{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateMemberParams Optional parameters for the method 'CreateMember'
type CreateMemberParams struct {
    Identity *string `json:"Identity,omitempty"`
    RoleSid *string `json:"RoleSid,omitempty"`
}

/*
CreateMember Method for CreateMember
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to create the resource under.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the new member belongs to. Can be the Channel resource's `sid` or `unique_name`.
 * @param optional nil or *CreateMemberOpts - Optional Parameters:
 * @param "Identity" (string) - The `identity` value that uniquely identifies the new resource's [User](https://www.twilio.com/docs/api/chat/rest/v1/user) within the [Service](https://www.twilio.com/docs/api/chat/rest/services). See [access tokens](https://www.twilio.com/docs/api/chat/guides/create-tokens) for more details.
 * @param "RoleSid" (string) - The SID of the [Role](https://www.twilio.com/docs/api/chat/rest/roles) to assign to the member. The default roles are those specified on the [Service](https://www.twilio.com/docs/chat/api/services).
@return ChatV1ServiceChannelMember
*/
func (c *DefaultApiService) CreateMember(serviceSid string, channelSid string, params *CreateMemberParams) (*ChatV1ServiceChannelMember, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Identity != nil {
        data.Set("Identity", *params.Identity)
    }
    if params != nil && params.RoleSid != nil {
        data.Set("RoleSid", *params.RoleSid)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannelMember{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateMessageParams Optional parameters for the method 'CreateMessage'
type CreateMessageParams struct {
    Attributes *string `json:"Attributes,omitempty"`
    Body *string `json:"Body,omitempty"`
    From *string `json:"From,omitempty"`
}

/*
CreateMessage Method for CreateMessage
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to create the resource under.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the new resource belongs to. Can be the Channel resource's `sid` or `unique_name`.
 * @param optional nil or *CreateMessageOpts - Optional Parameters:
 * @param "Attributes" (string) - A valid JSON string that contains application-specific data.
 * @param "Body" (string) - The message to send to the channel. Can also be an empty string or `null`, which sets the value as an empty string. You can send structured data in the body by serializing it as a string.
 * @param "From" (string) - The [identity](https://www.twilio.com/docs/api/chat/guides/identity) of the new message's author. The default value is `system`.
@return ChatV1ServiceChannelMessage
*/
func (c *DefaultApiService) CreateMessage(serviceSid string, channelSid string, params *CreateMessageParams) (*ChatV1ServiceChannelMessage, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Attributes != nil {
        data.Set("Attributes", *params.Attributes)
    }
    if params != nil && params.Body != nil {
        data.Set("Body", *params.Body)
    }
    if params != nil && params.From != nil {
        data.Set("From", *params.From)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannelMessage{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateRoleParams Optional parameters for the method 'CreateRole'
type CreateRoleParams struct {
    FriendlyName *string `json:"FriendlyName,omitempty"`
    Permission *[]string `json:"Permission,omitempty"`
    Type *string `json:"Type,omitempty"`
}

/*
CreateRole Method for CreateRole
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to create the resource under.
 * @param optional nil or *CreateRoleOpts - Optional Parameters:
 * @param "FriendlyName" (string) - A descriptive string that you create to describe the new resource. It can be up to 64 characters long.
 * @param "Permission" ([]string) - A permission that you grant to the new role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. The values for this parameter depend on the role's `type` and are described in the documentation.
 * @param "Type" (string) - The type of role. Can be: `channel` for [Channel](https://www.twilio.com/docs/chat/api/channels) roles or `deployment` for [Service](https://www.twilio.com/docs/chat/api/services) roles.
@return ChatV1ServiceRole
*/
func (c *DefaultApiService) CreateRole(serviceSid string, params *CreateRoleParams) (*ChatV1ServiceRole, error) {
    path := "/v1/Services/{ServiceSid}/Roles"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.Permission != nil {
        data.Set("Permission", *params.Permission)
    }
    if params != nil && params.Type != nil {
        data.Set("Type", *params.Type)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceRole{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateServiceParams Optional parameters for the method 'CreateService'
type CreateServiceParams struct {
    FriendlyName *string `json:"FriendlyName,omitempty"`
}

/*
CreateService Method for CreateService
 * @param optional nil or *CreateServiceOpts - Optional Parameters:
 * @param "FriendlyName" (string) - A descriptive string that you create to describe the resource. It can be up to 64 characters long.
@return ChatV1Service
*/
func (c *DefaultApiService) CreateService(params *CreateServiceParams) (*ChatV1Service, error) {
    path := "/v1/Services"

    data := url.Values{}
    headers := 0

    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1Service{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateUserParams Optional parameters for the method 'CreateUser'
type CreateUserParams struct {
    Attributes *string `json:"Attributes,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    Identity *string `json:"Identity,omitempty"`
    RoleSid *string `json:"RoleSid,omitempty"`
}

/*
CreateUser Method for CreateUser
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to create the resource under.
 * @param optional nil or *CreateUserOpts - Optional Parameters:
 * @param "Attributes" (string) - A valid JSON string that contains application-specific data.
 * @param "FriendlyName" (string) - A descriptive string that you create to describe the new resource. This value is often used for display purposes.
 * @param "Identity" (string) - The `identity` value that uniquely identifies the new resource's [User](https://www.twilio.com/docs/api/chat/rest/v1/user) within the [Service](https://www.twilio.com/docs/api/chat/rest/v1/service). This value is often a username or email address. See the Identity documentation for more details.
 * @param "RoleSid" (string) - The SID of the [Role](https://www.twilio.com/docs/api/chat/rest/roles) assigned to the new User.
@return ChatV1ServiceUser
*/
func (c *DefaultApiService) CreateUser(serviceSid string, params *CreateUserParams) (*ChatV1ServiceUser, error) {
    path := "/v1/Services/{ServiceSid}/Users"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Attributes != nil {
        data.Set("Attributes", *params.Attributes)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.Identity != nil {
        data.Set("Identity", *params.Identity)
    }
    if params != nil && params.RoleSid != nil {
        data.Set("RoleSid", *params.RoleSid)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceUser{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
DeleteChannel Method for DeleteChannel
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to delete the resource from.
 * @param sid The Twilio-provided string that uniquely identifies the Channel resource to delete.
*/
func (c *DefaultApiService) DeleteChannel(serviceSid string, sid string) (error) {
    path := "/v1/Services/{ServiceSid}/Channels/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteCredential Method for DeleteCredential
 * @param sid The Twilio-provided string that uniquely identifies the Credential resource to delete.
*/
func (c *DefaultApiService) DeleteCredential(sid string) (error) {
    path := "/v1/Credentials/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteInvite Method for DeleteInvite
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to delete the resource from.
 * @param channelSid The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the resource to delete belongs to.
 * @param sid The Twilio-provided string that uniquely identifies the Invite resource to delete.
*/
func (c *DefaultApiService) DeleteInvite(serviceSid string, channelSid string, sid string) (error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteMember Method for DeleteMember
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to delete the resource from.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the message belongs to.  Can be the Channel's `sid` or `unique_name`.
 * @param sid The Twilio-provided string that uniquely identifies the Member resource to delete.
*/
func (c *DefaultApiService) DeleteMember(serviceSid string, channelSid string, sid string) (error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteMessage Method for DeleteMessage
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to delete the resource from.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the message to delete belongs to.  Can be the Channel resource's `sid` or `unique_name`.
 * @param sid The Twilio-provided string that uniquely identifies the Message resource to delete.
*/
func (c *DefaultApiService) DeleteMessage(serviceSid string, channelSid string, sid string) (error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteRole Method for DeleteRole
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to delete the resource from.
 * @param sid The Twilio-provided string that uniquely identifies the Role resource to delete.
*/
func (c *DefaultApiService) DeleteRole(serviceSid string, sid string) (error) {
    path := "/v1/Services/{ServiceSid}/Roles/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteService Method for DeleteService
 * @param sid The Twilio-provided string that uniquely identifies the Service resource to delete.
*/
func (c *DefaultApiService) DeleteService(sid string) (error) {
    path := "/v1/Services/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteUser Method for DeleteUser
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to delete the resource from.
 * @param sid The Twilio-provided string that uniquely identifies the User resource to delete.
*/
func (c *DefaultApiService) DeleteUser(serviceSid string, sid string) (error) {
    path := "/v1/Services/{ServiceSid}/Users/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
FetchChannel Method for FetchChannel
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to fetch the resource from.
 * @param sid The Twilio-provided string that uniquely identifies the Channel resource to fetch.
@return ChatV1ServiceChannel
*/
func (c *DefaultApiService) FetchChannel(serviceSid string, sid string) (*ChatV1ServiceChannel, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannel{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchCredential Method for FetchCredential
 * @param sid The Twilio-provided string that uniquely identifies the Credential resource to fetch.
@return ChatV1Credential
*/
func (c *DefaultApiService) FetchCredential(sid string) (*ChatV1Credential, error) {
    path := "/v1/Credentials/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1Credential{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchInvite Method for FetchInvite
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to fetch the resource from.
 * @param channelSid The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the resource to fetch belongs to.
 * @param sid The Twilio-provided string that uniquely identifies the Invite resource to fetch.
@return ChatV1ServiceChannelInvite
*/
func (c *DefaultApiService) FetchInvite(serviceSid string, channelSid string, sid string) (*ChatV1ServiceChannelInvite, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannelInvite{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchMember Method for FetchMember
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to fetch the resource from.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the member to fetch belongs to. Can be the Channel resource's `sid` or `unique_name` value.
 * @param sid The Twilio-provided string that uniquely identifies the Member resource to fetch.
@return ChatV1ServiceChannelMember
*/
func (c *DefaultApiService) FetchMember(serviceSid string, channelSid string, sid string) (*ChatV1ServiceChannelMember, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannelMember{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchMessage Method for FetchMessage
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to fetch the resource from.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the message to fetch belongs to. Can be the Channel's `sid` or `unique_name`.
 * @param sid The Twilio-provided string that uniquely identifies the Message resource to fetch.
@return ChatV1ServiceChannelMessage
*/
func (c *DefaultApiService) FetchMessage(serviceSid string, channelSid string, sid string) (*ChatV1ServiceChannelMessage, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannelMessage{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchRole Method for FetchRole
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to fetch the resource from.
 * @param sid The Twilio-provided string that uniquely identifies the Role resource to fetch.
@return ChatV1ServiceRole
*/
func (c *DefaultApiService) FetchRole(serviceSid string, sid string) (*ChatV1ServiceRole, error) {
    path := "/v1/Services/{ServiceSid}/Roles/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceRole{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchService Method for FetchService
 * @param sid The Twilio-provided string that uniquely identifies the Service resource to fetch.
@return ChatV1Service
*/
func (c *DefaultApiService) FetchService(sid string) (*ChatV1Service, error) {
    path := "/v1/Services/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1Service{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchUser Method for FetchUser
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to fetch the resource from.
 * @param sid The Twilio-provided string that uniquely identifies the User resource to fetch.
@return ChatV1ServiceUser
*/
func (c *DefaultApiService) FetchUser(serviceSid string, sid string) (*ChatV1ServiceUser, error) {
    path := "/v1/Services/{ServiceSid}/Users/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceUser{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListChannelParams Optional parameters for the method 'ListChannel'
type ListChannelParams struct {
    Type *[]string `json:"Type,omitempty"`
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListChannel Method for ListChannel
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to read the resources from.
 * @param optional nil or *ListChannelOpts - Optional Parameters:
 * @param "Type" ([]string) - The visibility of the Channels to read. Can be: `public` or `private` and defaults to `public`.
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InlineResponse2002
*/
func (c *DefaultApiService) ListChannel(serviceSid string, params *ListChannelParams) (*InlineResponse2002, error) {
    path := "/v1/Services/{ServiceSid}/Channels"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Type != nil {
        data.Set("Type", string(*params.Type))
    }
    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InlineResponse2002{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListCredentialParams Optional parameters for the method 'ListCredential'
type ListCredentialParams struct {
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListCredential Method for ListCredential
 * @param optional nil or *ListCredentialOpts - Optional Parameters:
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InlineResponse200
*/
func (c *DefaultApiService) ListCredential(params *ListCredentialParams) (*InlineResponse200, error) {
    path := "/v1/Credentials"

    data := url.Values{}
    headers := 0

    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InlineResponse200{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListInviteParams Optional parameters for the method 'ListInvite'
type ListInviteParams struct {
    Identity *[]string `json:"Identity,omitempty"`
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListInvite Method for ListInvite
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to read the resources from.
 * @param channelSid The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the resources to read belong to.
 * @param optional nil or *ListInviteOpts - Optional Parameters:
 * @param "Identity" ([]string) - The [User](https://www.twilio.com/docs/api/chat/rest/v1/user)'s `identity` value of the resources to read. See [access tokens](https://www.twilio.com/docs/api/chat/guides/create-tokens) for more details.
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InlineResponse2003
*/
func (c *DefaultApiService) ListInvite(serviceSid string, channelSid string, params *ListInviteParams) (*InlineResponse2003, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Identity != nil {
        data.Set("Identity", string(*params.Identity))
    }
    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InlineResponse2003{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListMemberParams Optional parameters for the method 'ListMember'
type ListMemberParams struct {
    Identity *[]string `json:"Identity,omitempty"`
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListMember Method for ListMember
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to read the resources from.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the members to read belong to. Can be the Channel resource's `sid` or `unique_name` value.
 * @param optional nil or *ListMemberOpts - Optional Parameters:
 * @param "Identity" ([]string) - The [User](https://www.twilio.com/docs/api/chat/rest/v1/user)'s `identity` value of the resources to read. See [access tokens](https://www.twilio.com/docs/api/chat/guides/create-tokens) for more details.
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InlineResponse2004
*/
func (c *DefaultApiService) ListMember(serviceSid string, channelSid string, params *ListMemberParams) (*InlineResponse2004, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Identity != nil {
        data.Set("Identity", string(*params.Identity))
    }
    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InlineResponse2004{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListMessageParams Optional parameters for the method 'ListMessage'
type ListMessageParams struct {
    Order *string `json:"Order,omitempty"`
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListMessage Method for ListMessage
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to read the resources from.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the message to read belongs to. Can be the Channel's `sid` or `unique_name`.
 * @param optional nil or *ListMessageOpts - Optional Parameters:
 * @param "Order" (string) - The sort order of the returned messages. Can be: `asc` (ascending) or `desc` (descending) with `asc` as the default.
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InlineResponse2005
*/
func (c *DefaultApiService) ListMessage(serviceSid string, channelSid string, params *ListMessageParams) (*InlineResponse2005, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Order != nil {
        data.Set("Order", *params.Order)
    }
    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InlineResponse2005{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListRoleParams Optional parameters for the method 'ListRole'
type ListRoleParams struct {
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListRole Method for ListRole
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to read the resources from.
 * @param optional nil or *ListRoleOpts - Optional Parameters:
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InlineResponse2006
*/
func (c *DefaultApiService) ListRole(serviceSid string, params *ListRoleParams) (*InlineResponse2006, error) {
    path := "/v1/Services/{ServiceSid}/Roles"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InlineResponse2006{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListServiceParams Optional parameters for the method 'ListService'
type ListServiceParams struct {
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListService Method for ListService
 * @param optional nil or *ListServiceOpts - Optional Parameters:
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InlineResponse2001
*/
func (c *DefaultApiService) ListService(params *ListServiceParams) (*InlineResponse2001, error) {
    path := "/v1/Services"

    data := url.Values{}
    headers := 0

    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InlineResponse2001{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListUserParams Optional parameters for the method 'ListUser'
type ListUserParams struct {
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListUser Method for ListUser
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to read the resources from.
 * @param optional nil or *ListUserOpts - Optional Parameters:
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InlineResponse2007
*/
func (c *DefaultApiService) ListUser(serviceSid string, params *ListUserParams) (*InlineResponse2007, error) {
    path := "/v1/Services/{ServiceSid}/Users"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InlineResponse2007{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListUserChannelParams Optional parameters for the method 'ListUserChannel'
type ListUserChannelParams struct {
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListUserChannel Method for ListUserChannel
List all Channels for a given User.
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to read the resources from.
 * @param userSid The SID of the [User](https://www.twilio.com/docs/api/chat/rest/users) to read the User Channel resources from.
 * @param optional nil or *ListUserChannelOpts - Optional Parameters:
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InlineResponse2008
*/
func (c *DefaultApiService) ListUserChannel(serviceSid string, userSid string, params *ListUserChannelParams) (*InlineResponse2008, error) {
    path := "/v1/Services/{ServiceSid}/Users/{UserSid}/Channels"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"UserSid"+"}", userSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InlineResponse2008{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// UpdateChannelParams Optional parameters for the method 'UpdateChannel'
type UpdateChannelParams struct {
    Attributes *string `json:"Attributes,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
UpdateChannel Method for UpdateChannel
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to update the resource from.
 * @param sid The Twilio-provided string that uniquely identifies the Channel resource to update.
 * @param optional nil or *UpdateChannelOpts - Optional Parameters:
 * @param "Attributes" (string) - A valid JSON string that contains application-specific data.
 * @param "FriendlyName" (string) - A descriptive string that you create to describe the resource. It can be up to 64 characters long.
 * @param "UniqueName" (string) - An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL. This value must be 64 characters or less in length and be unique within the Service.
@return ChatV1ServiceChannel
*/
func (c *DefaultApiService) UpdateChannel(serviceSid string, sid string, params *UpdateChannelParams) (*ChatV1ServiceChannel, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Attributes != nil {
        data.Set("Attributes", *params.Attributes)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannel{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// UpdateCredentialParams Optional parameters for the method 'UpdateCredential'
type UpdateCredentialParams struct {
    ApiKey *string `json:"ApiKey,omitempty"`
    Certificate *string `json:"Certificate,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    PrivateKey *string `json:"PrivateKey,omitempty"`
    Sandbox *bool `json:"Sandbox,omitempty"`
    Secret *string `json:"Secret,omitempty"`
}

/*
UpdateCredential Method for UpdateCredential
 * @param sid The Twilio-provided string that uniquely identifies the Credential resource to update.
 * @param optional nil or *UpdateCredentialOpts - Optional Parameters:
 * @param "ApiKey" (string) - [GCM only] The API key for the project that was obtained from the Google Developer console for your GCM Service application credential.
 * @param "Certificate" (string) - [APN only] The URL encoded representation of the certificate. For example,  `-----BEGIN CERTIFICATE----- MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A== -----END CERTIFICATE-----`
 * @param "FriendlyName" (string) - A descriptive string that you create to describe the resource. It can be up to 64 characters long.
 * @param "PrivateKey" (string) - [APN only] The URL encoded representation of the private key. For example, `-----BEGIN RSA PRIVATE KEY----- MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR. -----END RSA PRIVATE KEY-----`
 * @param "Sandbox" (bool) - [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production.
 * @param "Secret" (string) - [FCM only] The **Server key** of your project from the Firebase console, found under Settings / Cloud messaging.
@return ChatV1Credential
*/
func (c *DefaultApiService) UpdateCredential(sid string, params *UpdateCredentialParams) (*ChatV1Credential, error) {
    path := "/v1/Credentials/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.ApiKey != nil {
        data.Set("ApiKey", *params.ApiKey)
    }
    if params != nil && params.Certificate != nil {
        data.Set("Certificate", *params.Certificate)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.PrivateKey != nil {
        data.Set("PrivateKey", *params.PrivateKey)
    }
    if params != nil && params.Sandbox != nil {
        data.Set("Sandbox", string(*params.Sandbox))
    }
    if params != nil && params.Secret != nil {
        data.Set("Secret", *params.Secret)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1Credential{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// UpdateMemberParams Optional parameters for the method 'UpdateMember'
type UpdateMemberParams struct {
    LastConsumedMessageIndex *int32 `json:"LastConsumedMessageIndex,omitempty"`
    RoleSid *string `json:"RoleSid,omitempty"`
}

/*
UpdateMember Method for UpdateMember
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to update the resource from.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the member to update belongs to. Can be the Channel resource's `sid` or `unique_name`.
 * @param sid The Twilio-provided string that uniquely identifies the Member resource to update.
 * @param optional nil or *UpdateMemberOpts - Optional Parameters:
 * @param "LastConsumedMessageIndex" (*int32) - The index of the last [Message](https://www.twilio.com/docs/api/chat/rest/messages) that the Member has read within the [Channel](https://www.twilio.com/docs/api/chat/rest/channels).
 * @param "RoleSid" (string) - The SID of the [Role](https://www.twilio.com/docs/api/chat/rest/roles) to assign to the member. The default roles are those specified on the [Service](https://www.twilio.com/docs/chat/api/services).
@return ChatV1ServiceChannelMember
*/
func (c *DefaultApiService) UpdateMember(serviceSid string, channelSid string, sid string, params *UpdateMemberParams) (*ChatV1ServiceChannelMember, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.LastConsumedMessageIndex != nil {
        data.Set("LastConsumedMessageIndex", string(*params.LastConsumedMessageIndex))
    }
    if params != nil && params.RoleSid != nil {
        data.Set("RoleSid", *params.RoleSid)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannelMember{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// UpdateMessageParams Optional parameters for the method 'UpdateMessage'
type UpdateMessageParams struct {
    Attributes *string `json:"Attributes,omitempty"`
    Body *string `json:"Body,omitempty"`
}

/*
UpdateMessage Method for UpdateMessage
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to update the resource from.
 * @param channelSid The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels) the message belongs to. Can be the Channel's `sid` or `unique_name`.
 * @param sid The Twilio-provided string that uniquely identifies the Message resource to update.
 * @param optional nil or *UpdateMessageOpts - Optional Parameters:
 * @param "Attributes" (string) - A valid JSON string that contains application-specific data.
 * @param "Body" (string) - The message to send to the channel. Can also be an empty string or `null`, which sets the value as an empty string. You can send structured data in the body by serializing it as a string.
@return ChatV1ServiceChannelMessage
*/
func (c *DefaultApiService) UpdateMessage(serviceSid string, channelSid string, sid string, params *UpdateMessageParams) (*ChatV1ServiceChannelMessage, error) {
    path := "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ChannelSid"+"}", channelSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Attributes != nil {
        data.Set("Attributes", *params.Attributes)
    }
    if params != nil && params.Body != nil {
        data.Set("Body", *params.Body)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceChannelMessage{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// UpdateRoleParams Optional parameters for the method 'UpdateRole'
type UpdateRoleParams struct {
    Permission *[]string `json:"Permission,omitempty"`
}

/*
UpdateRole Method for UpdateRole
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to update the resource from.
 * @param sid The Twilio-provided string that uniquely identifies the Role resource to update.
 * @param optional nil or *UpdateRoleOpts - Optional Parameters:
 * @param "Permission" ([]string) - A permission that you grant to the role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. The values for this parameter depend on the role's `type` and are described in the documentation.
@return ChatV1ServiceRole
*/
func (c *DefaultApiService) UpdateRole(serviceSid string, sid string, params *UpdateRoleParams) (*ChatV1ServiceRole, error) {
    path := "/v1/Services/{ServiceSid}/Roles/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Permission != nil {
        data.Set("Permission", *params.Permission)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceRole{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// UpdateServiceParams Optional parameters for the method 'UpdateService'
type UpdateServiceParams struct {
    ConsumptionReportInterval *int32 `json:"ConsumptionReportInterval,omitempty"`
    DefaultChannelCreatorRoleSid *string `json:"DefaultChannelCreatorRoleSid,omitempty"`
    DefaultChannelRoleSid *string `json:"DefaultChannelRoleSid,omitempty"`
    DefaultServiceRoleSid *string `json:"DefaultServiceRoleSid,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    Limits.ChannelMembers *int32 `json:"Limits.ChannelMembers,omitempty"`
    Limits.UserChannels *int32 `json:"Limits.UserChannels,omitempty"`
    Notifications.AddedToChannel.Enabled *bool `json:"Notifications.AddedToChannel.Enabled,omitempty"`
    Notifications.AddedToChannel.Template *string `json:"Notifications.AddedToChannel.Template,omitempty"`
    Notifications.InvitedToChannel.Enabled *bool `json:"Notifications.InvitedToChannel.Enabled,omitempty"`
    Notifications.InvitedToChannel.Template *string `json:"Notifications.InvitedToChannel.Template,omitempty"`
    Notifications.NewMessage.Enabled *bool `json:"Notifications.NewMessage.Enabled,omitempty"`
    Notifications.NewMessage.Template *string `json:"Notifications.NewMessage.Template,omitempty"`
    Notifications.RemovedFromChannel.Enabled *bool `json:"Notifications.RemovedFromChannel.Enabled,omitempty"`
    Notifications.RemovedFromChannel.Template *string `json:"Notifications.RemovedFromChannel.Template,omitempty"`
    PostWebhookUrl *string `json:"PostWebhookUrl,omitempty"`
    PreWebhookUrl *string `json:"PreWebhookUrl,omitempty"`
    ReachabilityEnabled *bool `json:"ReachabilityEnabled,omitempty"`
    ReadStatusEnabled *bool `json:"ReadStatusEnabled,omitempty"`
    TypingIndicatorTimeout *int32 `json:"TypingIndicatorTimeout,omitempty"`
    WebhookFilters *[]string `json:"WebhookFilters,omitempty"`
    WebhookMethod *string `json:"WebhookMethod,omitempty"`
    Webhooks.OnChannelAdd.Method *string `json:"Webhooks.OnChannelAdd.Method,omitempty"`
    Webhooks.OnChannelAdd.Url *string `json:"Webhooks.OnChannelAdd.Url,omitempty"`
    Webhooks.OnChannelAdded.Method *string `json:"Webhooks.OnChannelAdded.Method,omitempty"`
    Webhooks.OnChannelAdded.Url *string `json:"Webhooks.OnChannelAdded.Url,omitempty"`
    Webhooks.OnChannelDestroy.Method *string `json:"Webhooks.OnChannelDestroy.Method,omitempty"`
    Webhooks.OnChannelDestroy.Url *string `json:"Webhooks.OnChannelDestroy.Url,omitempty"`
    Webhooks.OnChannelDestroyed.Method *string `json:"Webhooks.OnChannelDestroyed.Method,omitempty"`
    Webhooks.OnChannelDestroyed.Url *string `json:"Webhooks.OnChannelDestroyed.Url,omitempty"`
    Webhooks.OnChannelUpdate.Method *string `json:"Webhooks.OnChannelUpdate.Method,omitempty"`
    Webhooks.OnChannelUpdate.Url *string `json:"Webhooks.OnChannelUpdate.Url,omitempty"`
    Webhooks.OnChannelUpdated.Method *string `json:"Webhooks.OnChannelUpdated.Method,omitempty"`
    Webhooks.OnChannelUpdated.Url *string `json:"Webhooks.OnChannelUpdated.Url,omitempty"`
    Webhooks.OnMemberAdd.Method *string `json:"Webhooks.OnMemberAdd.Method,omitempty"`
    Webhooks.OnMemberAdd.Url *string `json:"Webhooks.OnMemberAdd.Url,omitempty"`
    Webhooks.OnMemberAdded.Method *string `json:"Webhooks.OnMemberAdded.Method,omitempty"`
    Webhooks.OnMemberAdded.Url *string `json:"Webhooks.OnMemberAdded.Url,omitempty"`
    Webhooks.OnMemberRemove.Method *string `json:"Webhooks.OnMemberRemove.Method,omitempty"`
    Webhooks.OnMemberRemove.Url *string `json:"Webhooks.OnMemberRemove.Url,omitempty"`
    Webhooks.OnMemberRemoved.Method *string `json:"Webhooks.OnMemberRemoved.Method,omitempty"`
    Webhooks.OnMemberRemoved.Url *string `json:"Webhooks.OnMemberRemoved.Url,omitempty"`
    Webhooks.OnMessageRemove.Method *string `json:"Webhooks.OnMessageRemove.Method,omitempty"`
    Webhooks.OnMessageRemove.Url *string `json:"Webhooks.OnMessageRemove.Url,omitempty"`
    Webhooks.OnMessageRemoved.Method *string `json:"Webhooks.OnMessageRemoved.Method,omitempty"`
    Webhooks.OnMessageRemoved.Url *string `json:"Webhooks.OnMessageRemoved.Url,omitempty"`
    Webhooks.OnMessageSend.Method *string `json:"Webhooks.OnMessageSend.Method,omitempty"`
    Webhooks.OnMessageSend.Url *string `json:"Webhooks.OnMessageSend.Url,omitempty"`
    Webhooks.OnMessageSent.Method *string `json:"Webhooks.OnMessageSent.Method,omitempty"`
    Webhooks.OnMessageSent.Url *string `json:"Webhooks.OnMessageSent.Url,omitempty"`
    Webhooks.OnMessageUpdate.Method *string `json:"Webhooks.OnMessageUpdate.Method,omitempty"`
    Webhooks.OnMessageUpdate.Url *string `json:"Webhooks.OnMessageUpdate.Url,omitempty"`
    Webhooks.OnMessageUpdated.Method *string `json:"Webhooks.OnMessageUpdated.Method,omitempty"`
    Webhooks.OnMessageUpdated.Url *string `json:"Webhooks.OnMessageUpdated.Url,omitempty"`
}

/*
UpdateService Method for UpdateService
 * @param sid The Twilio-provided string that uniquely identifies the Service resource to update.
 * @param optional nil or *UpdateServiceOpts - Optional Parameters:
 * @param "ConsumptionReportInterval" (int32) - DEPRECATED. The interval in seconds between consumption reports submission batches from client endpoints.
 * @param "DefaultChannelCreatorRoleSid" (string) - The channel role assigned to a channel creator when they join a new channel. See the [Roles endpoint](https://www.twilio.com/docs/chat/api/roles) for more details.
 * @param "DefaultChannelRoleSid" (string) - The channel role assigned to users when they are added to a channel. See the [Roles endpoint](https://www.twilio.com/docs/chat/api/roles) for more details.
 * @param "DefaultServiceRoleSid" (string) - The service role assigned to users when they are added to the service. See the [Roles endpoint](https://www.twilio.com/docs/chat/api/roles) for more details.
 * @param "FriendlyName" (string) - A descriptive string that you create to describe the resource. It can be up to 64 characters long.
 * @param "Limits.ChannelMembers" (int32) - The maximum number of Members that can be added to Channels within this Service. Can be up to 1,000.
 * @param "Limits.UserChannels" (int32) - The maximum number of Channels Users can be a Member of within this Service. Can be up to 1,000.
 * @param "Notifications.AddedToChannel.Enabled" (bool) - Whether to send a notification when a member is added to a channel. Can be: `true` or `false` and the default is `false`.
 * @param "Notifications.AddedToChannel.Template" (string) - The template to use to create the notification text displayed when a member is added to a channel and `notifications.added_to_channel.enabled` is `true`.
 * @param "Notifications.InvitedToChannel.Enabled" (bool) - Whether to send a notification when a user is invited to a channel. Can be: `true` or `false` and the default is `false`.
 * @param "Notifications.InvitedToChannel.Template" (string) - The template to use to create the notification text displayed when a user is invited to a channel and `notifications.invited_to_channel.enabled` is `true`.
 * @param "Notifications.NewMessage.Enabled" (bool) - Whether to send a notification when a new message is added to a channel. Can be: `true` or `false` and the default is `false`.
 * @param "Notifications.NewMessage.Template" (string) - The template to use to create the notification text displayed when a new message is added to a channel and `notifications.new_message.enabled` is `true`.
 * @param "Notifications.RemovedFromChannel.Enabled" (bool) - Whether to send a notification to a user when they are removed from a channel. Can be: `true` or `false` and the default is `false`.
 * @param "Notifications.RemovedFromChannel.Template" (string) - The template to use to create the notification text displayed to a user when they are removed from a channel and `notifications.removed_from_channel.enabled` is `true`.
 * @param "PostWebhookUrl" (string) - The URL for post-event webhooks, which are called by using the `webhook_method`. See [Webhook Events](https://www.twilio.com/docs/api/chat/webhooks) for more details.
 * @param "PreWebhookUrl" (string) - The URL for pre-event webhooks, which are called by using the `webhook_method`. See [Webhook Events](https://www.twilio.com/docs/api/chat/webhooks) for more details.
 * @param "ReachabilityEnabled" (bool) - Whether to enable the [Reachability Indicator](https://www.twilio.com/docs/chat/reachability-indicator) for this Service instance. The default is `false`.
 * @param "ReadStatusEnabled" (bool) - Whether to enable the [Message Consumption Horizon](https://www.twilio.com/docs/chat/consumption-horizon) feature. The default is `true`.
 * @param "TypingIndicatorTimeout" (int32) - How long in seconds after a `started typing` event until clients should assume that user is no longer typing, even if no `ended typing` message was received.  The default is 5 seconds.
 * @param "WebhookFilters" ([]string) - The list of WebHook events that are enabled for this Service instance. See [Webhook Events](https://www.twilio.com/docs/chat/webhook-events) for more details.
 * @param "WebhookMethod" (string) - The HTTP method to use for calls to the `pre_webhook_url` and `post_webhook_url` webhooks.  Can be: `POST` or `GET` and the default is `POST`. See [Webhook Events](https://www.twilio.com/docs/chat/webhook-events) for more details.
 * @param "Webhooks.OnChannelAdd.Method" (string) - The HTTP method to use when calling the `webhooks.on_channel_add.url`.
 * @param "Webhooks.OnChannelAdd.Url" (string) - The URL of the webhook to call in response to the `on_channel_add` event using the `webhooks.on_channel_add.method` HTTP method.
 * @param "Webhooks.OnChannelAdded.Method" (string) - The URL of the webhook to call in response to the `on_channel_added` event`.
 * @param "Webhooks.OnChannelAdded.Url" (string) - The URL of the webhook to call in response to the `on_channel_added` event using the `webhooks.on_channel_added.method` HTTP method.
 * @param "Webhooks.OnChannelDestroy.Method" (string) - The HTTP method to use when calling the `webhooks.on_channel_destroy.url`.
 * @param "Webhooks.OnChannelDestroy.Url" (string) - The URL of the webhook to call in response to the `on_channel_destroy` event using the `webhooks.on_channel_destroy.method` HTTP method.
 * @param "Webhooks.OnChannelDestroyed.Method" (string) - The HTTP method to use when calling the `webhooks.on_channel_destroyed.url`.
 * @param "Webhooks.OnChannelDestroyed.Url" (string) - The URL of the webhook to call in response to the `on_channel_added` event using the `webhooks.on_channel_destroyed.method` HTTP method.
 * @param "Webhooks.OnChannelUpdate.Method" (string) - The HTTP method to use when calling the `webhooks.on_channel_update.url`.
 * @param "Webhooks.OnChannelUpdate.Url" (string) - The URL of the webhook to call in response to the `on_channel_update` event using the `webhooks.on_channel_update.method` HTTP method.
 * @param "Webhooks.OnChannelUpdated.Method" (string) - The HTTP method to use when calling the `webhooks.on_channel_updated.url`.
 * @param "Webhooks.OnChannelUpdated.Url" (string) - The URL of the webhook to call in response to the `on_channel_updated` event using the `webhooks.on_channel_updated.method` HTTP method.
 * @param "Webhooks.OnMemberAdd.Method" (string) - The HTTP method to use when calling the `webhooks.on_member_add.url`.
 * @param "Webhooks.OnMemberAdd.Url" (string) - The URL of the webhook to call in response to the `on_member_add` event using the `webhooks.on_member_add.method` HTTP method.
 * @param "Webhooks.OnMemberAdded.Method" (string) - The HTTP method to use when calling the `webhooks.on_channel_updated.url`.
 * @param "Webhooks.OnMemberAdded.Url" (string) - The URL of the webhook to call in response to the `on_channel_updated` event using the `webhooks.on_channel_updated.method` HTTP method.
 * @param "Webhooks.OnMemberRemove.Method" (string) - The HTTP method to use when calling the `webhooks.on_member_remove.url`.
 * @param "Webhooks.OnMemberRemove.Url" (string) - The URL of the webhook to call in response to the `on_member_remove` event using the `webhooks.on_member_remove.method` HTTP method.
 * @param "Webhooks.OnMemberRemoved.Method" (string) - The HTTP method to use when calling the `webhooks.on_member_removed.url`.
 * @param "Webhooks.OnMemberRemoved.Url" (string) - The URL of the webhook to call in response to the `on_member_removed` event using the `webhooks.on_member_removed.method` HTTP method.
 * @param "Webhooks.OnMessageRemove.Method" (string) - The HTTP method to use when calling the `webhooks.on_message_remove.url`.
 * @param "Webhooks.OnMessageRemove.Url" (string) - The URL of the webhook to call in response to the `on_message_remove` event using the `webhooks.on_message_remove.method` HTTP method.
 * @param "Webhooks.OnMessageRemoved.Method" (string) - The HTTP method to use when calling the `webhooks.on_message_removed.url`.
 * @param "Webhooks.OnMessageRemoved.Url" (string) - The URL of the webhook to call in response to the `on_message_removed` event using the `webhooks.on_message_removed.method` HTTP method.
 * @param "Webhooks.OnMessageSend.Method" (string) - The HTTP method to use when calling the `webhooks.on_message_send.url`.
 * @param "Webhooks.OnMessageSend.Url" (string) - The URL of the webhook to call in response to the `on_message_send` event using the `webhooks.on_message_send.method` HTTP method.
 * @param "Webhooks.OnMessageSent.Method" (string) - The URL of the webhook to call in response to the `on_message_sent` event`.
 * @param "Webhooks.OnMessageSent.Url" (string) - The URL of the webhook to call in response to the `on_message_sent` event using the `webhooks.on_message_sent.method` HTTP method.
 * @param "Webhooks.OnMessageUpdate.Method" (string) - The HTTP method to use when calling the `webhooks.on_message_update.url`.
 * @param "Webhooks.OnMessageUpdate.Url" (string) - The URL of the webhook to call in response to the `on_message_update` event using the `webhooks.on_message_update.method` HTTP method.
 * @param "Webhooks.OnMessageUpdated.Method" (string) - The HTTP method to use when calling the `webhooks.on_message_updated.url`.
 * @param "Webhooks.OnMessageUpdated.Url" (string) - The URL of the webhook to call in response to the `on_message_updated` event using the `webhooks.on_message_updated.method` HTTP method.
@return ChatV1Service
*/
func (c *DefaultApiService) UpdateService(sid string, params *UpdateServiceParams) (*ChatV1Service, error) {
    path := "/v1/Services/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.ConsumptionReportInterval != nil {
        data.Set("ConsumptionReportInterval", string(*params.ConsumptionReportInterval))
    }
    if params != nil && params.DefaultChannelCreatorRoleSid != nil {
        data.Set("DefaultChannelCreatorRoleSid", *params.DefaultChannelCreatorRoleSid)
    }
    if params != nil && params.DefaultChannelRoleSid != nil {
        data.Set("DefaultChannelRoleSid", *params.DefaultChannelRoleSid)
    }
    if params != nil && params.DefaultServiceRoleSid != nil {
        data.Set("DefaultServiceRoleSid", *params.DefaultServiceRoleSid)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.Limits.ChannelMembers != nil {
        data.Set("Limits.ChannelMembers", string(*params.Limits.ChannelMembers))
    }
    if params != nil && params.Limits.UserChannels != nil {
        data.Set("Limits.UserChannels", string(*params.Limits.UserChannels))
    }
    if params != nil && params.Notifications.AddedToChannel.Enabled != nil {
        data.Set("Notifications.AddedToChannel.Enabled", string(*params.Notifications.AddedToChannel.Enabled))
    }
    if params != nil && params.Notifications.AddedToChannel.Template != nil {
        data.Set("Notifications.AddedToChannel.Template", *params.Notifications.AddedToChannel.Template)
    }
    if params != nil && params.Notifications.InvitedToChannel.Enabled != nil {
        data.Set("Notifications.InvitedToChannel.Enabled", string(*params.Notifications.InvitedToChannel.Enabled))
    }
    if params != nil && params.Notifications.InvitedToChannel.Template != nil {
        data.Set("Notifications.InvitedToChannel.Template", *params.Notifications.InvitedToChannel.Template)
    }
    if params != nil && params.Notifications.NewMessage.Enabled != nil {
        data.Set("Notifications.NewMessage.Enabled", string(*params.Notifications.NewMessage.Enabled))
    }
    if params != nil && params.Notifications.NewMessage.Template != nil {
        data.Set("Notifications.NewMessage.Template", *params.Notifications.NewMessage.Template)
    }
    if params != nil && params.Notifications.RemovedFromChannel.Enabled != nil {
        data.Set("Notifications.RemovedFromChannel.Enabled", string(*params.Notifications.RemovedFromChannel.Enabled))
    }
    if params != nil && params.Notifications.RemovedFromChannel.Template != nil {
        data.Set("Notifications.RemovedFromChannel.Template", *params.Notifications.RemovedFromChannel.Template)
    }
    if params != nil && params.PostWebhookUrl != nil {
        data.Set("PostWebhookUrl", *params.PostWebhookUrl)
    }
    if params != nil && params.PreWebhookUrl != nil {
        data.Set("PreWebhookUrl", *params.PreWebhookUrl)
    }
    if params != nil && params.ReachabilityEnabled != nil {
        data.Set("ReachabilityEnabled", string(*params.ReachabilityEnabled))
    }
    if params != nil && params.ReadStatusEnabled != nil {
        data.Set("ReadStatusEnabled", string(*params.ReadStatusEnabled))
    }
    if params != nil && params.TypingIndicatorTimeout != nil {
        data.Set("TypingIndicatorTimeout", string(*params.TypingIndicatorTimeout))
    }
    if params != nil && params.WebhookFilters != nil {
        data.Set("WebhookFilters", *params.WebhookFilters)
    }
    if params != nil && params.WebhookMethod != nil {
        data.Set("WebhookMethod", *params.WebhookMethod)
    }
    if params != nil && params.Webhooks.OnChannelAdd.Method != nil {
        data.Set("Webhooks.OnChannelAdd.Method", *params.Webhooks.OnChannelAdd.Method)
    }
    if params != nil && params.Webhooks.OnChannelAdd.Url != nil {
        data.Set("Webhooks.OnChannelAdd.Url", *params.Webhooks.OnChannelAdd.Url)
    }
    if params != nil && params.Webhooks.OnChannelAdded.Method != nil {
        data.Set("Webhooks.OnChannelAdded.Method", *params.Webhooks.OnChannelAdded.Method)
    }
    if params != nil && params.Webhooks.OnChannelAdded.Url != nil {
        data.Set("Webhooks.OnChannelAdded.Url", *params.Webhooks.OnChannelAdded.Url)
    }
    if params != nil && params.Webhooks.OnChannelDestroy.Method != nil {
        data.Set("Webhooks.OnChannelDestroy.Method", *params.Webhooks.OnChannelDestroy.Method)
    }
    if params != nil && params.Webhooks.OnChannelDestroy.Url != nil {
        data.Set("Webhooks.OnChannelDestroy.Url", *params.Webhooks.OnChannelDestroy.Url)
    }
    if params != nil && params.Webhooks.OnChannelDestroyed.Method != nil {
        data.Set("Webhooks.OnChannelDestroyed.Method", *params.Webhooks.OnChannelDestroyed.Method)
    }
    if params != nil && params.Webhooks.OnChannelDestroyed.Url != nil {
        data.Set("Webhooks.OnChannelDestroyed.Url", *params.Webhooks.OnChannelDestroyed.Url)
    }
    if params != nil && params.Webhooks.OnChannelUpdate.Method != nil {
        data.Set("Webhooks.OnChannelUpdate.Method", *params.Webhooks.OnChannelUpdate.Method)
    }
    if params != nil && params.Webhooks.OnChannelUpdate.Url != nil {
        data.Set("Webhooks.OnChannelUpdate.Url", *params.Webhooks.OnChannelUpdate.Url)
    }
    if params != nil && params.Webhooks.OnChannelUpdated.Method != nil {
        data.Set("Webhooks.OnChannelUpdated.Method", *params.Webhooks.OnChannelUpdated.Method)
    }
    if params != nil && params.Webhooks.OnChannelUpdated.Url != nil {
        data.Set("Webhooks.OnChannelUpdated.Url", *params.Webhooks.OnChannelUpdated.Url)
    }
    if params != nil && params.Webhooks.OnMemberAdd.Method != nil {
        data.Set("Webhooks.OnMemberAdd.Method", *params.Webhooks.OnMemberAdd.Method)
    }
    if params != nil && params.Webhooks.OnMemberAdd.Url != nil {
        data.Set("Webhooks.OnMemberAdd.Url", *params.Webhooks.OnMemberAdd.Url)
    }
    if params != nil && params.Webhooks.OnMemberAdded.Method != nil {
        data.Set("Webhooks.OnMemberAdded.Method", *params.Webhooks.OnMemberAdded.Method)
    }
    if params != nil && params.Webhooks.OnMemberAdded.Url != nil {
        data.Set("Webhooks.OnMemberAdded.Url", *params.Webhooks.OnMemberAdded.Url)
    }
    if params != nil && params.Webhooks.OnMemberRemove.Method != nil {
        data.Set("Webhooks.OnMemberRemove.Method", *params.Webhooks.OnMemberRemove.Method)
    }
    if params != nil && params.Webhooks.OnMemberRemove.Url != nil {
        data.Set("Webhooks.OnMemberRemove.Url", *params.Webhooks.OnMemberRemove.Url)
    }
    if params != nil && params.Webhooks.OnMemberRemoved.Method != nil {
        data.Set("Webhooks.OnMemberRemoved.Method", *params.Webhooks.OnMemberRemoved.Method)
    }
    if params != nil && params.Webhooks.OnMemberRemoved.Url != nil {
        data.Set("Webhooks.OnMemberRemoved.Url", *params.Webhooks.OnMemberRemoved.Url)
    }
    if params != nil && params.Webhooks.OnMessageRemove.Method != nil {
        data.Set("Webhooks.OnMessageRemove.Method", *params.Webhooks.OnMessageRemove.Method)
    }
    if params != nil && params.Webhooks.OnMessageRemove.Url != nil {
        data.Set("Webhooks.OnMessageRemove.Url", *params.Webhooks.OnMessageRemove.Url)
    }
    if params != nil && params.Webhooks.OnMessageRemoved.Method != nil {
        data.Set("Webhooks.OnMessageRemoved.Method", *params.Webhooks.OnMessageRemoved.Method)
    }
    if params != nil && params.Webhooks.OnMessageRemoved.Url != nil {
        data.Set("Webhooks.OnMessageRemoved.Url", *params.Webhooks.OnMessageRemoved.Url)
    }
    if params != nil && params.Webhooks.OnMessageSend.Method != nil {
        data.Set("Webhooks.OnMessageSend.Method", *params.Webhooks.OnMessageSend.Method)
    }
    if params != nil && params.Webhooks.OnMessageSend.Url != nil {
        data.Set("Webhooks.OnMessageSend.Url", *params.Webhooks.OnMessageSend.Url)
    }
    if params != nil && params.Webhooks.OnMessageSent.Method != nil {
        data.Set("Webhooks.OnMessageSent.Method", *params.Webhooks.OnMessageSent.Method)
    }
    if params != nil && params.Webhooks.OnMessageSent.Url != nil {
        data.Set("Webhooks.OnMessageSent.Url", *params.Webhooks.OnMessageSent.Url)
    }
    if params != nil && params.Webhooks.OnMessageUpdate.Method != nil {
        data.Set("Webhooks.OnMessageUpdate.Method", *params.Webhooks.OnMessageUpdate.Method)
    }
    if params != nil && params.Webhooks.OnMessageUpdate.Url != nil {
        data.Set("Webhooks.OnMessageUpdate.Url", *params.Webhooks.OnMessageUpdate.Url)
    }
    if params != nil && params.Webhooks.OnMessageUpdated.Method != nil {
        data.Set("Webhooks.OnMessageUpdated.Method", *params.Webhooks.OnMessageUpdated.Method)
    }
    if params != nil && params.Webhooks.OnMessageUpdated.Url != nil {
        data.Set("Webhooks.OnMessageUpdated.Url", *params.Webhooks.OnMessageUpdated.Url)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1Service{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// UpdateUserParams Optional parameters for the method 'UpdateUser'
type UpdateUserParams struct {
    Attributes *string `json:"Attributes,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    RoleSid *string `json:"RoleSid,omitempty"`
}

/*
UpdateUser Method for UpdateUser
 * @param serviceSid The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services) to update the resource from.
 * @param sid The Twilio-provided string that uniquely identifies the User resource to update.
 * @param optional nil or *UpdateUserOpts - Optional Parameters:
 * @param "Attributes" (string) - A valid JSON string that contains application-specific data.
 * @param "FriendlyName" (string) - A descriptive string that you create to describe the resource. It is often used for display purposes.
 * @param "RoleSid" (string) - The SID of the [Role](https://www.twilio.com/docs/api/chat/rest/roles) assigned to this user.
@return ChatV1ServiceUser
*/
func (c *DefaultApiService) UpdateUser(serviceSid string, sid string, params *UpdateUserParams) (*ChatV1ServiceUser, error) {
    path := "/v1/Services/{ServiceSid}/Users/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Attributes != nil {
        data.Set("Attributes", *params.Attributes)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.RoleSid != nil {
        data.Set("RoleSid", *params.RoleSid)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &ChatV1ServiceUser{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
