/*
 * Twilio - Insights
 *
 * This is the public Twilio REST API.
 *
 * API version: 5.15.0
 * Contact: support@twilio.com
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package openapi

import (
	"encoding/json"
	"fmt"
    twilio "github.com/twilio/twilio-go/client"
    "net/url"
    "strings"
    ""
    "reflect"
)

type DefaultApiService struct {
    baseURL string
    client  *twilio.Client
}

func NewDefaultApiService(client *twilio.Client) *DefaultApiService {
    return &DefaultApiService{
        client: client,
        baseURL: fmt.Sprintf("https://studio.%s", client.BaseURL),
    }
}

/*
FetchCall Method for FetchCall
 * @param sid
@return InsightsV1Call
*/
func (c *DefaultApiService) FetchCall(sid string) (*InsightsV1Call, error) {
    path := "/v1/Voice/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InsightsV1Call{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// FetchSummaryParams Optional parameters for the method 'FetchSummary'
type FetchSummaryParams struct {
    ProcessingState *string `json:"ProcessingState,omitempty"`
}

/*
FetchSummary Method for FetchSummary
 * @param callSid
 * @param optional nil or *FetchSummaryOpts - Optional Parameters:
 * @param "ProcessingState" (string) - 
@return InsightsV1CallSummary
*/
func (c *DefaultApiService) FetchSummary(callSid string, params *FetchSummaryParams) (*InsightsV1CallSummary, error) {
    path := "/v1/Voice/{CallSid}/Summary"
    path = strings.Replace(path, "{"+"CallSid"+"}", callSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.ProcessingState != nil {
        data.Set("ProcessingState", *params.ProcessingState)
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InsightsV1CallSummary{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchVideoParticipantSummary Method for FetchVideoParticipantSummary
 * @param roomSid
 * @param participantSid
@return InsightsV1VideoRoomSummaryVideoParticipantSummary
*/
func (c *DefaultApiService) FetchVideoParticipantSummary(roomSid string, participantSid string) (*InsightsV1VideoRoomSummaryVideoParticipantSummary, error) {
    path := "/v1/Video/Rooms/{RoomSid}/Participants/{ParticipantSid}"
    path = strings.Replace(path, "{"+"RoomSid"+"}", roomSid, -1)
    path = strings.Replace(path, "{"+"ParticipantSid"+"}", participantSid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InsightsV1VideoRoomSummaryVideoParticipantSummary{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchVideoRoomSummary Method for FetchVideoRoomSummary
 * @param roomSid
@return InsightsV1VideoRoomSummary
*/
func (c *DefaultApiService) FetchVideoRoomSummary(roomSid string) (*InsightsV1VideoRoomSummary, error) {
    path := "/v1/Video/Rooms/{RoomSid}"
    path = strings.Replace(path, "{"+"RoomSid"+"}", roomSid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InsightsV1VideoRoomSummary{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListEventParams Optional parameters for the method 'ListEvent'
type ListEventParams struct {
    Edge *string `json:"Edge,omitempty"`
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListEvent Method for ListEvent
 * @param callSid
 * @param optional nil or *ListEventOpts - Optional Parameters:
 * @param "Edge" (string) - 
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InsightsV1CallEventReadResponse
*/
func (c *DefaultApiService) ListEvent(callSid string, params *ListEventParams) (*InsightsV1CallEventReadResponse, error) {
    path := "/v1/Voice/{CallSid}/Events"
    path = strings.Replace(path, "{"+"CallSid"+"}", callSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Edge != nil {
        data.Set("Edge", *params.Edge)
    }
    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InsightsV1CallEventReadResponse{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListMetricParams Optional parameters for the method 'ListMetric'
type ListMetricParams struct {
    Edge *string `json:"Edge,omitempty"`
    Direction *string `json:"Direction,omitempty"`
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListMetric Method for ListMetric
 * @param callSid
 * @param optional nil or *ListMetricOpts - Optional Parameters:
 * @param "Edge" (string) - 
 * @param "Direction" (string) - 
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InsightsV1CallMetricReadResponse
*/
func (c *DefaultApiService) ListMetric(callSid string, params *ListMetricParams) (*InsightsV1CallMetricReadResponse, error) {
    path := "/v1/Voice/{CallSid}/Metrics"
    path = strings.Replace(path, "{"+"CallSid"+"}", callSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Edge != nil {
        data.Set("Edge", *params.Edge)
    }
    if params != nil && params.Direction != nil {
        data.Set("Direction", *params.Direction)
    }
    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InsightsV1CallMetricReadResponse{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListVideoParticipantSummaryParams Optional parameters for the method 'ListVideoParticipantSummary'
type ListVideoParticipantSummaryParams struct {
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListVideoParticipantSummary Method for ListVideoParticipantSummary
 * @param roomSid
 * @param optional nil or *ListVideoParticipantSummaryOpts - Optional Parameters:
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InsightsV1VideoRoomSummaryVideoParticipantSummaryReadResponse
*/
func (c *DefaultApiService) ListVideoParticipantSummary(roomSid string, params *ListVideoParticipantSummaryParams) (*InsightsV1VideoRoomSummaryVideoParticipantSummaryReadResponse, error) {
    path := "/v1/Video/Rooms/{RoomSid}/Participants"
    path = strings.Replace(path, "{"+"RoomSid"+"}", roomSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InsightsV1VideoRoomSummaryVideoParticipantSummaryReadResponse{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// ListVideoRoomSummaryParams Optional parameters for the method 'ListVideoRoomSummary'
type ListVideoRoomSummaryParams struct {
    RoomType *[]string `json:"RoomType,omitempty"`
    Codec *[]string `json:"Codec,omitempty"`
    RoomName *string `json:"RoomName,omitempty"`
    CreatedAfter *time.Time `json:"CreatedAfter,omitempty"`
    CreatedBefore *time.Time `json:"CreatedBefore,omitempty"`
    PageSize *int32 `json:"PageSize,omitempty"`
}

/*
ListVideoRoomSummary Method for ListVideoRoomSummary
 * @param optional nil or *ListVideoRoomSummaryOpts - Optional Parameters:
 * @param "RoomType" ([]string) - 
 * @param "Codec" ([]string) - 
 * @param "RoomName" (string) - 
 * @param "CreatedAfter" (time.Time) - 
 * @param "CreatedBefore" (time.Time) - 
 * @param "PageSize" (int32) - How many resources to return in each list page. The default is 50, and the maximum is 1000.
@return InsightsV1VideoRoomSummaryReadResponse
*/
func (c *DefaultApiService) ListVideoRoomSummary(params *ListVideoRoomSummaryParams) (*InsightsV1VideoRoomSummaryReadResponse, error) {
    path := "/v1/Video/Rooms"

    data := url.Values{}
    headers := 0

    if params != nil && params.RoomType != nil {
        data.Set("RoomType", string(*params.RoomType))
    }
    if params != nil && params.Codec != nil {
        data.Set("Codec", string(*params.Codec))
    }
    if params != nil && params.RoomName != nil {
        data.Set("RoomName", *params.RoomName)
    }
    if params != nil && params.CreatedAfter != nil {
        data.Set("CreatedAfter", string(*params.CreatedAfter))
    }
    if params != nil && params.CreatedBefore != nil {
        data.Set("CreatedBefore", string(*params.CreatedBefore))
    }
    if params != nil && params.PageSize != nil {
        data.Set("PageSize", string(*params.PageSize))
    }


    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &InsightsV1VideoRoomSummaryReadResponse{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
