# TestResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**Url** | **string** |  |
**Result** | Pointer to [**TestDeliveryResult**](TestDeliveryResult.md) |  |
**CreatedAt** | [**time.Time**](time.Time.md) |  |[readonly] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


