/*
 * Twilio - Preview
 *
 * This is the public Twilio REST API.
 *
 * API version: 5.15.0
 * Contact: support@twilio.com
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package openapi

import (
	"encoding/json"
	"fmt"
    twilio "github.com/twilio/twilio-go/client"
    "net/url"
    "strings"
    ""
)

type DefaultApiService struct {
    baseURL string
    client  *twilio.Client
}

func NewDefaultApiService(client *twilio.Client) *DefaultApiService {
    return &DefaultApiService{
        client: client,
        baseURL: fmt.Sprintf("https://studio.%s", client.BaseURL),
    }
}
// CreateAssistantParams Optional parameters for the method 'CreateAssistant'
type CreateAssistantParams struct {
    CallbackEvents *string `json:"CallbackEvents,omitempty"`
    CallbackUrl *string `json:"CallbackUrl,omitempty"`
    FallbackActions *map[string]interface{} `json:"FallbackActions,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    InitiationActions *map[string]interface{} `json:"InitiationActions,omitempty"`
    LogQueries *bool `json:"LogQueries,omitempty"`
    StyleSheet *map[string]interface{} `json:"StyleSheet,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateAssistant Method for CreateAssistant
 * @param optional nil or *CreateAssistantOpts - Optional Parameters:
 * @param "CallbackEvents" (string) - Space-separated list of callback events that will trigger callbacks.
 * @param "CallbackUrl" (string) - A user-provided URL to send event callbacks to.
 * @param "FallbackActions" (map[string]interface{}) - The JSON actions to be executed when the user's input is not recognized as matching any Task.
 * @param "FriendlyName" (string) - A text description for the Assistant. It is non-unique and can up to 255 characters long.
 * @param "InitiationActions" (map[string]interface{}) - The JSON actions to be executed on inbound phone calls when the Assistant has to say something first.
 * @param "LogQueries" (bool) - A boolean that specifies whether queries should be logged for 30 days further training. If false, no queries will be stored, if true, queries will be stored for 30 days and deleted thereafter. Defaults to true if no value is provided.
 * @param "StyleSheet" (map[string]interface{}) - The JSON object that holds the style sheet for the assistant
 * @param "UniqueName" (string) - A user-provided string that uniquely identifies this resource as an alternative to the sid. Unique up to 64 characters long.
@return PreviewUnderstandAssistant
*/
func (c *DefaultApiService) CreateAssistant(params *CreateAssistantParams) (*PreviewUnderstandAssistant, error) {
    path := "/understand/Assistants"

    data := url.Values{}
    headers := 0

    if params != nil && params.CallbackEvents != nil {
        data.Set("CallbackEvents", *params.CallbackEvents)
    }
    if params != nil && params.CallbackUrl != nil {
        data.Set("CallbackUrl", *params.CallbackUrl)
    }
    if params != nil && params.FallbackActions != nil {
        v, err := json.Marshal(params.FallbackActions)

        if err != nil {
            return nil, err
        }

        data.Set("FallbackActions", string(v))
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.InitiationActions != nil {
        v, err := json.Marshal(params.InitiationActions)

        if err != nil {
            return nil, err
        }

        data.Set("InitiationActions", string(v))
    }
    if params != nil && params.LogQueries != nil {
        data.Set("LogQueries", string(*params.LogQueries))
    }
    if params != nil && params.StyleSheet != nil {
        v, err := json.Marshal(params.StyleSheet)

        if err != nil {
            return nil, err
        }

        data.Set("StyleSheet", string(v))
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistant{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateAuthorizationDocumentParams Optional parameters for the method 'CreateAuthorizationDocument'
type CreateAuthorizationDocumentParams struct {
    AddressSid *string `json:"AddressSid,omitempty"`
    CcEmails *[]string `json:"CcEmails,omitempty"`
    ContactPhoneNumber *string `json:"ContactPhoneNumber,omitempty"`
    ContactTitle *string `json:"ContactTitle,omitempty"`
    Email *string `json:"Email,omitempty"`
    HostedNumberOrderSids *[]string `json:"HostedNumberOrderSids,omitempty"`
}

/*
CreateAuthorizationDocument Method for CreateAuthorizationDocument
Create an AuthorizationDocument for authorizing the hosting of phone number capabilities on Twilio&#39;s platform.
 * @param optional nil or *CreateAuthorizationDocumentOpts - Optional Parameters:
 * @param "AddressSid" (string) - A 34 character string that uniquely identifies the Address resource that is associated with this AuthorizationDocument.
 * @param "CcEmails" ([]string) - Email recipients who will be informed when an Authorization Document has been sent and signed.
 * @param "ContactPhoneNumber" (string) - The contact phone number of the person authorized to sign the Authorization Document.
 * @param "ContactTitle" (string) - The title of the person authorized to sign the Authorization Document for this phone number.
 * @param "Email" (string) - Email that this AuthorizationDocument will be sent to for signing.
 * @param "HostedNumberOrderSids" ([]string) - A list of HostedNumberOrder sids that this AuthorizationDocument will authorize for hosting phone number capabilities on Twilio's platform.
@return PreviewHostedNumbersAuthorizationDocument
*/
func (c *DefaultApiService) CreateAuthorizationDocument(params *CreateAuthorizationDocumentParams) (*PreviewHostedNumbersAuthorizationDocument, error) {
    path := "/HostedNumbers/AuthorizationDocuments"

    data := url.Values{}
    headers := 0

    if params != nil && params.AddressSid != nil {
        data.Set("AddressSid", *params.AddressSid)
    }
    if params != nil && params.CcEmails != nil {
        data.Set("CcEmails", *params.CcEmails)
    }
    if params != nil && params.ContactPhoneNumber != nil {
        data.Set("ContactPhoneNumber", *params.ContactPhoneNumber)
    }
    if params != nil && params.ContactTitle != nil {
        data.Set("ContactTitle", *params.ContactTitle)
    }
    if params != nil && params.Email != nil {
        data.Set("Email", *params.Email)
    }
    if params != nil && params.HostedNumberOrderSids != nil {
        data.Set("HostedNumberOrderSids", *params.HostedNumberOrderSids)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewHostedNumbersAuthorizationDocument{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateCertificateParams Optional parameters for the method 'CreateCertificate'
type CreateCertificateParams struct {
    CertificateData *string `json:"CertificateData,omitempty"`
    DeviceSid *string `json:"DeviceSid,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
}

/*
CreateCertificate Method for CreateCertificate
Enroll a new Certificate credential to the Fleet, optionally giving it a friendly name and assigning to a Device.
 * @param fleetSid
 * @param optional nil or *CreateCertificateOpts - Optional Parameters:
 * @param "CertificateData" (string) - Provides a URL encoded representation of the public certificate in PEM format.
 * @param "DeviceSid" (string) - Provides the unique string identifier of an existing Device to become authenticated with this Certificate credential.
 * @param "FriendlyName" (string) - Provides a human readable descriptive text for this Certificate credential, up to 256 characters long.
@return PreviewDeployedDevicesFleetCertificate
*/
func (c *DefaultApiService) CreateCertificate(fleetSid string, params *CreateCertificateParams) (*PreviewDeployedDevicesFleetCertificate, error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Certificates"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.CertificateData != nil {
        data.Set("CertificateData", *params.CertificateData)
    }
    if params != nil && params.DeviceSid != nil {
        data.Set("DeviceSid", *params.DeviceSid)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewDeployedDevicesFleetCertificate{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateChannelParams Optional parameters for the method 'CreateChannel'
type CreateChannelParams struct {
    PhoneNumberSid *string `json:"PhoneNumberSid,omitempty"`
}

/*
CreateChannel Method for CreateChannel
Associate a channel to a branded channel
 * @param brandedChannelSid The unique SID identifier of the Branded Channel. The given phone number is going to be assigned to this Branded Channel
 * @param optional nil or *CreateChannelOpts - Optional Parameters:
 * @param "PhoneNumberSid" (string) - The unique SID identifier of the Phone Number of the Phone number to be assigned to the Branded Channel.
@return PreviewTrustedCommsBrandedChannelChannel
*/
func (c *DefaultApiService) CreateChannel(brandedChannelSid string, params *CreateChannelParams) (*PreviewTrustedCommsBrandedChannelChannel, error) {
    path := "/TrustedComms/BrandedChannels/{BrandedChannelSid}/Channels"
    path = strings.Replace(path, "{"+"BrandedChannelSid"+"}", brandedChannelSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.PhoneNumberSid != nil {
        data.Set("PhoneNumberSid", *params.PhoneNumberSid)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewTrustedCommsBrandedChannelChannel{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateCommandParams Optional parameters for the method 'CreateCommand'
type CreateCommandParams struct {
    CallbackMethod *string `json:"CallbackMethod,omitempty"`
    CallbackUrl *string `json:"CallbackUrl,omitempty"`
    Command *string `json:"Command,omitempty"`
    CommandMode *string `json:"CommandMode,omitempty"`
    Device *string `json:"Device,omitempty"`
    IncludeSid *string `json:"IncludeSid,omitempty"`
    Sim *string `json:"Sim,omitempty"`
}

/*
CreateCommand Method for CreateCommand
 * @param optional nil or *CreateCommandOpts - Optional Parameters:
 * @param "CallbackMethod" (string) - 
 * @param "CallbackUrl" (string) - 
 * @param "Command" (string) - 
 * @param "CommandMode" (string) - 
 * @param "Device" (string) - 
 * @param "IncludeSid" (string) - 
 * @param "Sim" (string) - 
@return PreviewWirelessCommand
*/
func (c *DefaultApiService) CreateCommand(params *CreateCommandParams) (*PreviewWirelessCommand, error) {
    path := "/wireless/Commands"

    data := url.Values{}
    headers := 0

    if params != nil && params.CallbackMethod != nil {
        data.Set("CallbackMethod", *params.CallbackMethod)
    }
    if params != nil && params.CallbackUrl != nil {
        data.Set("CallbackUrl", *params.CallbackUrl)
    }
    if params != nil && params.Command != nil {
        data.Set("Command", *params.Command)
    }
    if params != nil && params.CommandMode != nil {
        data.Set("CommandMode", *params.CommandMode)
    }
    if params != nil && params.Device != nil {
        data.Set("Device", *params.Device)
    }
    if params != nil && params.IncludeSid != nil {
        data.Set("IncludeSid", *params.IncludeSid)
    }
    if params != nil && params.Sim != nil {
        data.Set("Sim", *params.Sim)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewWirelessCommand{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateDeploymentParams Optional parameters for the method 'CreateDeployment'
type CreateDeploymentParams struct {
    FriendlyName *string `json:"FriendlyName,omitempty"`
    SyncServiceSid *string `json:"SyncServiceSid,omitempty"`
}

/*
CreateDeployment Method for CreateDeployment
Create a new Deployment in the Fleet, optionally giving it a friendly name and linking to a specific Twilio Sync service instance.
 * @param fleetSid
 * @param optional nil or *CreateDeploymentOpts - Optional Parameters:
 * @param "FriendlyName" (string) - Provides a human readable descriptive text for this Deployment, up to 256 characters long.
 * @param "SyncServiceSid" (string) - Provides the unique string identifier of the Twilio Sync service instance that will be linked to and accessible by this Deployment.
@return PreviewDeployedDevicesFleetDeployment
*/
func (c *DefaultApiService) CreateDeployment(fleetSid string, params *CreateDeploymentParams) (*PreviewDeployedDevicesFleetDeployment, error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Deployments"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.SyncServiceSid != nil {
        data.Set("SyncServiceSid", *params.SyncServiceSid)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewDeployedDevicesFleetDeployment{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateDeviceParams Optional parameters for the method 'CreateDevice'
type CreateDeviceParams struct {
    DeploymentSid *string `json:"DeploymentSid,omitempty"`
    Enabled *bool `json:"Enabled,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    Identity *string `json:"Identity,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateDevice Method for CreateDevice
Create a new Device in the Fleet, optionally giving it a unique name, friendly name, and assigning to a Deployment and/or human identity.
 * @param fleetSid
 * @param optional nil or *CreateDeviceOpts - Optional Parameters:
 * @param "DeploymentSid" (string) - Specifies the unique string identifier of the Deployment group that this Device is going to be associated with.
 * @param "Enabled" (bool) - 
 * @param "FriendlyName" (string) - Provides a human readable descriptive text to be assigned to this Device, up to 256 characters long.
 * @param "Identity" (string) - Provides an arbitrary string identifier representing a human user to be associated with this Device, up to 256 characters long.
 * @param "UniqueName" (string) - Provides a unique and addressable name to be assigned to this Device, to be used in addition to SID, up to 128 characters long.
@return PreviewDeployedDevicesFleetDevice
*/
func (c *DefaultApiService) CreateDevice(fleetSid string, params *CreateDeviceParams) (*PreviewDeployedDevicesFleetDevice, error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Devices"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.DeploymentSid != nil {
        data.Set("DeploymentSid", *params.DeploymentSid)
    }
    if params != nil && params.Enabled != nil {
        data.Set("Enabled", string(*params.Enabled))
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.Identity != nil {
        data.Set("Identity", *params.Identity)
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewDeployedDevicesFleetDevice{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateDocumentParams Optional parameters for the method 'CreateDocument'
type CreateDocumentParams struct {
    Data *map[string]interface{} `json:"Data,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateDocument Method for CreateDocument
 * @param serviceSid
 * @param optional nil or *CreateDocumentOpts - Optional Parameters:
 * @param "Data" (map[string]interface{}) - 
 * @param "UniqueName" (string) - 
@return PreviewSyncServiceDocument
*/
func (c *DefaultApiService) CreateDocument(serviceSid string, params *CreateDocumentParams) (*PreviewSyncServiceDocument, error) {
    path := "/Sync/Services/{ServiceSid}/Documents"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Data != nil {
        v, err := json.Marshal(params.Data)

        if err != nil {
            return nil, err
        }

        data.Set("Data", string(v))
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewSyncServiceDocument{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateExportCustomJobParams Optional parameters for the method 'CreateExportCustomJob'
type CreateExportCustomJobParams struct {
    Email *string `json:"Email,omitempty"`
    EndDay *string `json:"EndDay,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    StartDay *string `json:"StartDay,omitempty"`
    WebhookMethod *string `json:"WebhookMethod,omitempty"`
    WebhookUrl *string `json:"WebhookUrl,omitempty"`
}

/*
CreateExportCustomJob Method for CreateExportCustomJob
 * @param resourceType The type of communication – Messages or Calls
 * @param optional nil or *CreateExportCustomJobOpts - Optional Parameters:
 * @param "Email" (string) - The optional email to send the completion notification to
 * @param "EndDay" (string) - The end day for the custom export specified as a string in the format of yyyy-mm-dd. End day is inclusive and must be 2 days earlier than the current UTC day.
 * @param "FriendlyName" (string) - The friendly name specified when creating the job
 * @param "StartDay" (string) - The start day for the custom export specified as a string in the format of yyyy-mm-dd
 * @param "WebhookMethod" (string) - This is the method used to call the webhook on completion of the job. If this is supplied, `WebhookUrl` must also be supplied.
 * @param "WebhookUrl" (string) - The optional webhook url called on completion of the job. If this is supplied, `WebhookMethod` must also be supplied.
@return PreviewBulkExportsExportExportCustomJob
*/
func (c *DefaultApiService) CreateExportCustomJob(resourceType string, params *CreateExportCustomJobParams) (*PreviewBulkExportsExportExportCustomJob, error) {
    path := "/BulkExports/Exports/{ResourceType}/Jobs"
    path = strings.Replace(path, "{"+"ResourceType"+"}", resourceType, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Email != nil {
        data.Set("Email", *params.Email)
    }
    if params != nil && params.EndDay != nil {
        data.Set("EndDay", *params.EndDay)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.StartDay != nil {
        data.Set("StartDay", *params.StartDay)
    }
    if params != nil && params.WebhookMethod != nil {
        data.Set("WebhookMethod", *params.WebhookMethod)
    }
    if params != nil && params.WebhookUrl != nil {
        data.Set("WebhookUrl", *params.WebhookUrl)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewBulkExportsExportExportCustomJob{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateFieldParams Optional parameters for the method 'CreateField'
type CreateFieldParams struct {
    FieldType *string `json:"FieldType,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateField Method for CreateField
 * @param assistantSid The unique ID of the parent Assistant.
 * @param taskSid The unique ID of the Task associated with this Field.
 * @param optional nil or *CreateFieldOpts - Optional Parameters:
 * @param "FieldType" (string) - The unique name or sid of the FieldType. It can be any [Built-in Field Type](https://www.twilio.com/docs/assistant/api/built-in-field-types) or the unique_name or the Field Type sid of a custom Field Type.
 * @param "UniqueName" (string) - A user-provided string that uniquely identifies this resource as an alternative to the sid. Unique up to 64 characters long.
@return PreviewUnderstandAssistantTaskField
*/
func (c *DefaultApiService) CreateField(assistantSid string, taskSid string, params *CreateFieldParams) (*PreviewUnderstandAssistantTaskField, error) {
    path := "/understand/Assistants/{AssistantSid}/Tasks/{TaskSid}/Fields"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"TaskSid"+"}", taskSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.FieldType != nil {
        data.Set("FieldType", *params.FieldType)
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantTaskField{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateFieldTypeParams Optional parameters for the method 'CreateFieldType'
type CreateFieldTypeParams struct {
    FriendlyName *string `json:"FriendlyName,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateFieldType Method for CreateFieldType
 * @param assistantSid
 * @param optional nil or *CreateFieldTypeOpts - Optional Parameters:
 * @param "FriendlyName" (string) - A user-provided string that identifies this resource. It is non-unique and can up to 255 characters long.
 * @param "UniqueName" (string) - A user-provided string that uniquely identifies this resource as an alternative to the sid. Unique up to 64 characters long.
@return PreviewUnderstandAssistantFieldType
*/
func (c *DefaultApiService) CreateFieldType(assistantSid string, params *CreateFieldTypeParams) (*PreviewUnderstandAssistantFieldType, error) {
    path := "/understand/Assistants/{AssistantSid}/FieldTypes"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantFieldType{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateFieldValueParams Optional parameters for the method 'CreateFieldValue'
type CreateFieldValueParams struct {
    Language *string `json:"Language,omitempty"`
    SynonymOf *string `json:"SynonymOf,omitempty"`
    Value *string `json:"Value,omitempty"`
}

/*
CreateFieldValue Method for CreateFieldValue
 * @param assistantSid
 * @param fieldTypeSid
 * @param optional nil or *CreateFieldValueOpts - Optional Parameters:
 * @param "Language" (string) - An ISO language-country string of the value.
 * @param "SynonymOf" (string) - A value that indicates this field value is a synonym of. Empty if the value is not a synonym.
 * @param "Value" (string) - A user-provided string that uniquely identifies this resource as an alternative to the sid. Unique up to 64 characters long.
@return PreviewUnderstandAssistantFieldTypeFieldValue
*/
func (c *DefaultApiService) CreateFieldValue(assistantSid string, fieldTypeSid string, params *CreateFieldValueParams) (*PreviewUnderstandAssistantFieldTypeFieldValue, error) {
    path := "/understand/Assistants/{AssistantSid}/FieldTypes/{FieldTypeSid}/FieldValues"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"FieldTypeSid"+"}", fieldTypeSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Language != nil {
        data.Set("Language", *params.Language)
    }
    if params != nil && params.SynonymOf != nil {
        data.Set("SynonymOf", *params.SynonymOf)
    }
    if params != nil && params.Value != nil {
        data.Set("Value", *params.Value)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantFieldTypeFieldValue{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateFleetParams Optional parameters for the method 'CreateFleet'
type CreateFleetParams struct {
    FriendlyName *string `json:"FriendlyName,omitempty"`
}

/*
CreateFleet Method for CreateFleet
Create a new Fleet for scoping of deployed devices within your account.
 * @param optional nil or *CreateFleetOpts - Optional Parameters:
 * @param "FriendlyName" (string) - Provides a human readable descriptive text for this Fleet, up to 256 characters long.
@return PreviewDeployedDevicesFleet
*/
func (c *DefaultApiService) CreateFleet(params *CreateFleetParams) (*PreviewDeployedDevicesFleet, error) {
    path := "/DeployedDevices/Fleets"

    data := url.Values{}
    headers := 0

    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewDeployedDevicesFleet{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateHostedNumberOrderParams Optional parameters for the method 'CreateHostedNumberOrder'
type CreateHostedNumberOrderParams struct {
    AccountSid *string `json:"AccountSid,omitempty"`
    AddressSid *string `json:"AddressSid,omitempty"`
    CcEmails *[]string `json:"CcEmails,omitempty"`
    Email *string `json:"Email,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    PhoneNumber *string `json:"PhoneNumber,omitempty"`
    SmsApplicationSid *string `json:"SmsApplicationSid,omitempty"`
    SmsCapability *bool `json:"SmsCapability,omitempty"`
    SmsFallbackMethod *string `json:"SmsFallbackMethod,omitempty"`
    SmsFallbackUrl *string `json:"SmsFallbackUrl,omitempty"`
    SmsMethod *string `json:"SmsMethod,omitempty"`
    SmsUrl *string `json:"SmsUrl,omitempty"`
    StatusCallbackMethod *string `json:"StatusCallbackMethod,omitempty"`
    StatusCallbackUrl *string `json:"StatusCallbackUrl,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
    VerificationDocumentSid *string `json:"VerificationDocumentSid,omitempty"`
    VerificationType *string `json:"VerificationType,omitempty"`
}

/*
CreateHostedNumberOrder Method for CreateHostedNumberOrder
Host a phone number&#39;s capability on Twilio&#39;s platform.
 * @param optional nil or *CreateHostedNumberOrderOpts - Optional Parameters:
 * @param "AccountSid" (string) - This defaults to the AccountSid of the authorization the user is using. This can be provided to specify a subaccount to add the HostedNumberOrder to.
 * @param "AddressSid" (string) - Optional. A 34 character string that uniquely identifies the Address resource that represents the address of the owner of this phone number.
 * @param "CcEmails" ([]string) - Optional. A list of emails that the LOA document for this HostedNumberOrder will be carbon copied to.
 * @param "Email" (string) - Optional. Email of the owner of this phone number that is being hosted.
 * @param "FriendlyName" (string) - A 64 character string that is a human readable text that describes this resource.
 * @param "PhoneNumber" (string) - The number to host in [+E.164](https://en.wikipedia.org/wiki/E.164) format
 * @param "SmsApplicationSid" (string) - Optional. The 34 character sid of the application Twilio should use to handle SMS messages sent to this number. If a `SmsApplicationSid` is present, Twilio will ignore all of the SMS urls above and use those set on the application.
 * @param "SmsCapability" (bool) - Used to specify that the SMS capability will be hosted on Twilio's platform.
 * @param "SmsFallbackMethod" (string) - The HTTP method that should be used to request the SmsFallbackUrl. Must be either `GET` or `POST`. This will be copied onto the IncomingPhoneNumber resource.
 * @param "SmsFallbackUrl" (string) - A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by SmsUrl. This will be copied onto the IncomingPhoneNumber resource.
 * @param "SmsMethod" (string) - The HTTP method that should be used to request the SmsUrl. Must be either `GET` or `POST`.  This will be copied onto the IncomingPhoneNumber resource.
 * @param "SmsUrl" (string) - The URL that Twilio should request when somebody sends an SMS to the phone number. This will be copied onto the IncomingPhoneNumber resource.
 * @param "StatusCallbackMethod" (string) - Optional. The Status Callback Method attached to the IncomingPhoneNumber resource.
 * @param "StatusCallbackUrl" (string) - Optional. The Status Callback URL attached to the IncomingPhoneNumber resource.
 * @param "UniqueName" (string) - Optional. Provides a unique and addressable name to be assigned to this HostedNumberOrder, assigned by the developer, to be optionally used in addition to SID.
 * @param "VerificationDocumentSid" (string) - Optional. The unique sid identifier of the Identity Document that represents the document for verifying ownership of the number to be hosted. Required when VerificationType is phone-bill.
 * @param "VerificationType" (string) - Optional. The method used for verifying ownership of the number to be hosted. One of phone-call (default) or phone-bill.
@return PreviewHostedNumbersHostedNumberOrder
*/
func (c *DefaultApiService) CreateHostedNumberOrder(params *CreateHostedNumberOrderParams) (*PreviewHostedNumbersHostedNumberOrder, error) {
    path := "/HostedNumbers/HostedNumberOrders"

    data := url.Values{}
    headers := 0

    if params != nil && params.AccountSid != nil {
        data.Set("AccountSid", *params.AccountSid)
    }
    if params != nil && params.AddressSid != nil {
        data.Set("AddressSid", *params.AddressSid)
    }
    if params != nil && params.CcEmails != nil {
        data.Set("CcEmails", *params.CcEmails)
    }
    if params != nil && params.Email != nil {
        data.Set("Email", *params.Email)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.PhoneNumber != nil {
        data.Set("PhoneNumber", *params.PhoneNumber)
    }
    if params != nil && params.SmsApplicationSid != nil {
        data.Set("SmsApplicationSid", *params.SmsApplicationSid)
    }
    if params != nil && params.SmsCapability != nil {
        data.Set("SmsCapability", string(*params.SmsCapability))
    }
    if params != nil && params.SmsFallbackMethod != nil {
        data.Set("SmsFallbackMethod", *params.SmsFallbackMethod)
    }
    if params != nil && params.SmsFallbackUrl != nil {
        data.Set("SmsFallbackUrl", *params.SmsFallbackUrl)
    }
    if params != nil && params.SmsMethod != nil {
        data.Set("SmsMethod", *params.SmsMethod)
    }
    if params != nil && params.SmsUrl != nil {
        data.Set("SmsUrl", *params.SmsUrl)
    }
    if params != nil && params.StatusCallbackMethod != nil {
        data.Set("StatusCallbackMethod", *params.StatusCallbackMethod)
    }
    if params != nil && params.StatusCallbackUrl != nil {
        data.Set("StatusCallbackUrl", *params.StatusCallbackUrl)
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }
    if params != nil && params.VerificationDocumentSid != nil {
        data.Set("VerificationDocumentSid", *params.VerificationDocumentSid)
    }
    if params != nil && params.VerificationType != nil {
        data.Set("VerificationType", *params.VerificationType)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewHostedNumbersHostedNumberOrder{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateInstalledAddOnParams Optional parameters for the method 'CreateInstalledAddOn'
type CreateInstalledAddOnParams struct {
    AcceptTermsOfService *bool `json:"AcceptTermsOfService,omitempty"`
    AvailableAddOnSid *string `json:"AvailableAddOnSid,omitempty"`
    Configuration *map[string]interface{} `json:"Configuration,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateInstalledAddOn Method for CreateInstalledAddOn
Install an Add-on for the Account specified.
 * @param optional nil or *CreateInstalledAddOnOpts - Optional Parameters:
 * @param "AcceptTermsOfService" (bool) - Whether the Terms of Service were accepted.
 * @param "AvailableAddOnSid" (string) - The SID of the AvaliableAddOn to install.
 * @param "Configuration" (map[string]interface{}) - The JSON object that represents the configuration of the new Add-on being installed.
 * @param "UniqueName" (string) - An application-defined string that uniquely identifies the resource. This value must be unique within the Account.
@return PreviewMarketplaceInstalledAddOn
*/
func (c *DefaultApiService) CreateInstalledAddOn(params *CreateInstalledAddOnParams) (*PreviewMarketplaceInstalledAddOn, error) {
    path := "/marketplace/InstalledAddOns"

    data := url.Values{}
    headers := 0

    if params != nil && params.AcceptTermsOfService != nil {
        data.Set("AcceptTermsOfService", string(*params.AcceptTermsOfService))
    }
    if params != nil && params.AvailableAddOnSid != nil {
        data.Set("AvailableAddOnSid", *params.AvailableAddOnSid)
    }
    if params != nil && params.Configuration != nil {
        v, err := json.Marshal(params.Configuration)

        if err != nil {
            return nil, err
        }

        data.Set("Configuration", string(v))
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewMarketplaceInstalledAddOn{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateKeyParams Optional parameters for the method 'CreateKey'
type CreateKeyParams struct {
    DeviceSid *string `json:"DeviceSid,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
}

/*
CreateKey Method for CreateKey
Create a new Key credential in the Fleet, optionally giving it a friendly name and assigning to a Device.
 * @param fleetSid
 * @param optional nil or *CreateKeyOpts - Optional Parameters:
 * @param "DeviceSid" (string) - Provides the unique string identifier of an existing Device to become authenticated with this Key credential.
 * @param "FriendlyName" (string) - Provides a human readable descriptive text for this Key credential, up to 256 characters long.
@return PreviewDeployedDevicesFleetKey
*/
func (c *DefaultApiService) CreateKey(fleetSid string, params *CreateKeyParams) (*PreviewDeployedDevicesFleetKey, error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Keys"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.DeviceSid != nil {
        data.Set("DeviceSid", *params.DeviceSid)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewDeployedDevicesFleetKey{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateModelBuildParams Optional parameters for the method 'CreateModelBuild'
type CreateModelBuildParams struct {
    StatusCallback *string `json:"StatusCallback,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateModelBuild Method for CreateModelBuild
 * @param assistantSid
 * @param optional nil or *CreateModelBuildOpts - Optional Parameters:
 * @param "StatusCallback" (string) - 
 * @param "UniqueName" (string) - A user-provided string that uniquely identifies this resource as an alternative to the sid. Unique up to 64 characters long. For example: v0.1
@return PreviewUnderstandAssistantModelBuild
*/
func (c *DefaultApiService) CreateModelBuild(assistantSid string, params *CreateModelBuildParams) (*PreviewUnderstandAssistantModelBuild, error) {
    path := "/understand/Assistants/{AssistantSid}/ModelBuilds"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.StatusCallback != nil {
        data.Set("StatusCallback", *params.StatusCallback)
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantModelBuild{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateQueryParams Optional parameters for the method 'CreateQuery'
type CreateQueryParams struct {
    Field *string `json:"Field,omitempty"`
    Language *string `json:"Language,omitempty"`
    ModelBuild *string `json:"ModelBuild,omitempty"`
    Query *string `json:"Query,omitempty"`
    Tasks *string `json:"Tasks,omitempty"`
}

/*
CreateQuery Method for CreateQuery
 * @param assistantSid The unique ID of the parent Assistant.
 * @param optional nil or *CreateQueryOpts - Optional Parameters:
 * @param "Field" (string) - Constraints the query to a given Field with an task. Useful when you know the Field you are expecting. It accepts one field in the format *task-unique-name-1*:*field-unique-name*
 * @param "Language" (string) - An ISO language-country string of the sample.
 * @param "ModelBuild" (string) - The Model Build Sid or unique name of the Model Build to be queried.
 * @param "Query" (string) - A user-provided string that uniquely identifies this resource as an alternative to the sid. It can be up to 2048 characters long.
 * @param "Tasks" (string) - Constraints the query to a set of tasks. Useful when you need to constrain the paths the user can take. Tasks should be comma separated *task-unique-name-1*, *task-unique-name-2*
@return PreviewUnderstandAssistantQuery
*/
func (c *DefaultApiService) CreateQuery(assistantSid string, params *CreateQueryParams) (*PreviewUnderstandAssistantQuery, error) {
    path := "/understand/Assistants/{AssistantSid}/Queries"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Field != nil {
        data.Set("Field", *params.Field)
    }
    if params != nil && params.Language != nil {
        data.Set("Language", *params.Language)
    }
    if params != nil && params.ModelBuild != nil {
        data.Set("ModelBuild", *params.ModelBuild)
    }
    if params != nil && params.Query != nil {
        data.Set("Query", *params.Query)
    }
    if params != nil && params.Tasks != nil {
        data.Set("Tasks", *params.Tasks)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantQuery{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateRatePlanParams Optional parameters for the method 'CreateRatePlan'
type CreateRatePlanParams struct {
    CommandsEnabled *bool `json:"CommandsEnabled,omitempty"`
    DataEnabled *bool `json:"DataEnabled,omitempty"`
    DataLimit *int32 `json:"DataLimit,omitempty"`
    DataMetering *string `json:"DataMetering,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    InternationalRoaming *[]string `json:"InternationalRoaming,omitempty"`
    MessagingEnabled *bool `json:"MessagingEnabled,omitempty"`
    NationalRoamingEnabled *bool `json:"NationalRoamingEnabled,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
    VoiceEnabled *bool `json:"VoiceEnabled,omitempty"`
}

/*
CreateRatePlan Method for CreateRatePlan
 * @param optional nil or *CreateRatePlanOpts - Optional Parameters:
 * @param "CommandsEnabled" (bool) - 
 * @param "DataEnabled" (bool) - 
 * @param "DataLimit" (int32) - 
 * @param "DataMetering" (string) - 
 * @param "FriendlyName" (string) - 
 * @param "InternationalRoaming" ([]string) - 
 * @param "MessagingEnabled" (bool) - 
 * @param "NationalRoamingEnabled" (bool) - 
 * @param "UniqueName" (string) - 
 * @param "VoiceEnabled" (bool) - 
@return PreviewWirelessRatePlan
*/
func (c *DefaultApiService) CreateRatePlan(params *CreateRatePlanParams) (*PreviewWirelessRatePlan, error) {
    path := "/wireless/RatePlans"

    data := url.Values{}
    headers := 0

    if params != nil && params.CommandsEnabled != nil {
        data.Set("CommandsEnabled", string(*params.CommandsEnabled))
    }
    if params != nil && params.DataEnabled != nil {
        data.Set("DataEnabled", string(*params.DataEnabled))
    }
    if params != nil && params.DataLimit != nil {
        data.Set("DataLimit", string(*params.DataLimit))
    }
    if params != nil && params.DataMetering != nil {
        data.Set("DataMetering", *params.DataMetering)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.InternationalRoaming != nil {
        data.Set("InternationalRoaming", *params.InternationalRoaming)
    }
    if params != nil && params.MessagingEnabled != nil {
        data.Set("MessagingEnabled", string(*params.MessagingEnabled))
    }
    if params != nil && params.NationalRoamingEnabled != nil {
        data.Set("NationalRoamingEnabled", string(*params.NationalRoamingEnabled))
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }
    if params != nil && params.VoiceEnabled != nil {
        data.Set("VoiceEnabled", string(*params.VoiceEnabled))
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewWirelessRatePlan{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateSampleParams Optional parameters for the method 'CreateSample'
type CreateSampleParams struct {
    Language *string `json:"Language,omitempty"`
    SourceChannel *string `json:"SourceChannel,omitempty"`
    TaggedText *string `json:"TaggedText,omitempty"`
}

/*
CreateSample Method for CreateSample
 * @param assistantSid The unique ID of the Assistant.
 * @param taskSid The unique ID of the Task associated with this Sample.
 * @param optional nil or *CreateSampleOpts - Optional Parameters:
 * @param "Language" (string) - An ISO language-country string of the sample.
 * @param "SourceChannel" (string) - The communication channel the sample was captured. It can be: *voice*, *sms*, *chat*, *alexa*, *google-assistant*, or *slack*. If not included the value will be null
 * @param "TaggedText" (string) - The text example of how end-users may express this task. The sample may contain Field tag blocks.
@return PreviewUnderstandAssistantTaskSample
*/
func (c *DefaultApiService) CreateSample(assistantSid string, taskSid string, params *CreateSampleParams) (*PreviewUnderstandAssistantTaskSample, error) {
    path := "/understand/Assistants/{AssistantSid}/Tasks/{TaskSid}/Samples"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"TaskSid"+"}", taskSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Language != nil {
        data.Set("Language", *params.Language)
    }
    if params != nil && params.SourceChannel != nil {
        data.Set("SourceChannel", *params.SourceChannel)
    }
    if params != nil && params.TaggedText != nil {
        data.Set("TaggedText", *params.TaggedText)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantTaskSample{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateServiceParams Optional parameters for the method 'CreateService'
type CreateServiceParams struct {
    AclEnabled *bool `json:"AclEnabled,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    ReachabilityWebhooksEnabled *bool `json:"ReachabilityWebhooksEnabled,omitempty"`
    WebhookUrl *string `json:"WebhookUrl,omitempty"`
}

/*
CreateService Method for CreateService
 * @param optional nil or *CreateServiceOpts - Optional Parameters:
 * @param "AclEnabled" (bool) - 
 * @param "FriendlyName" (string) - 
 * @param "ReachabilityWebhooksEnabled" (bool) - 
 * @param "WebhookUrl" (string) - 
@return PreviewSyncService
*/
func (c *DefaultApiService) CreateService(params *CreateServiceParams) (*PreviewSyncService, error) {
    path := "/Sync/Services"

    data := url.Values{}
    headers := 0

    if params != nil && params.AclEnabled != nil {
        data.Set("AclEnabled", string(*params.AclEnabled))
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.ReachabilityWebhooksEnabled != nil {
        data.Set("ReachabilityWebhooksEnabled", string(*params.ReachabilityWebhooksEnabled))
    }
    if params != nil && params.WebhookUrl != nil {
        data.Set("WebhookUrl", *params.WebhookUrl)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewSyncService{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateSyncListParams Optional parameters for the method 'CreateSyncList'
type CreateSyncListParams struct {
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateSyncList Method for CreateSyncList
 * @param serviceSid
 * @param optional nil or *CreateSyncListOpts - Optional Parameters:
 * @param "UniqueName" (string) - 
@return PreviewSyncServiceSyncList
*/
func (c *DefaultApiService) CreateSyncList(serviceSid string, params *CreateSyncListParams) (*PreviewSyncServiceSyncList, error) {
    path := "/Sync/Services/{ServiceSid}/Lists"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewSyncServiceSyncList{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateSyncListItemParams Optional parameters for the method 'CreateSyncListItem'
type CreateSyncListItemParams struct {
    Data *map[string]interface{} `json:"Data,omitempty"`
}

/*
CreateSyncListItem Method for CreateSyncListItem
 * @param serviceSid
 * @param listSid
 * @param optional nil or *CreateSyncListItemOpts - Optional Parameters:
 * @param "Data" (map[string]interface{}) - 
@return PreviewSyncServiceSyncListSyncListItem
*/
func (c *DefaultApiService) CreateSyncListItem(serviceSid string, listSid string, params *CreateSyncListItemParams) (*PreviewSyncServiceSyncListSyncListItem, error) {
    path := "/Sync/Services/{ServiceSid}/Lists/{ListSid}/Items"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ListSid"+"}", listSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Data != nil {
        v, err := json.Marshal(params.Data)

        if err != nil {
            return nil, err
        }

        data.Set("Data", string(v))
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewSyncServiceSyncListSyncListItem{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateSyncMapParams Optional parameters for the method 'CreateSyncMap'
type CreateSyncMapParams struct {
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateSyncMap Method for CreateSyncMap
 * @param serviceSid
 * @param optional nil or *CreateSyncMapOpts - Optional Parameters:
 * @param "UniqueName" (string) - 
@return PreviewSyncServiceSyncMap
*/
func (c *DefaultApiService) CreateSyncMap(serviceSid string, params *CreateSyncMapParams) (*PreviewSyncServiceSyncMap, error) {
    path := "/Sync/Services/{ServiceSid}/Maps"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewSyncServiceSyncMap{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateSyncMapItemParams Optional parameters for the method 'CreateSyncMapItem'
type CreateSyncMapItemParams struct {
    Data *map[string]interface{} `json:"Data,omitempty"`
    Key *string `json:"Key,omitempty"`
}

/*
CreateSyncMapItem Method for CreateSyncMapItem
 * @param serviceSid
 * @param mapSid
 * @param optional nil or *CreateSyncMapItemOpts - Optional Parameters:
 * @param "Data" (map[string]interface{}) - 
 * @param "Key" (string) - 
@return PreviewSyncServiceSyncMapSyncMapItem
*/
func (c *DefaultApiService) CreateSyncMapItem(serviceSid string, mapSid string, params *CreateSyncMapItemParams) (*PreviewSyncServiceSyncMapSyncMapItem, error) {
    path := "/Sync/Services/{ServiceSid}/Maps/{MapSid}/Items"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"MapSid"+"}", mapSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Data != nil {
        v, err := json.Marshal(params.Data)

        if err != nil {
            return nil, err
        }

        data.Set("Data", string(v))
    }
    if params != nil && params.Key != nil {
        data.Set("Key", *params.Key)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewSyncServiceSyncMapSyncMapItem{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// CreateTaskParams Optional parameters for the method 'CreateTask'
type CreateTaskParams struct {
    Actions *map[string]interface{} `json:"Actions,omitempty"`
    ActionsUrl *string `json:"ActionsUrl,omitempty"`
    FriendlyName *string `json:"FriendlyName,omitempty"`
    UniqueName *string `json:"UniqueName,omitempty"`
}

/*
CreateTask Method for CreateTask
 * @param assistantSid The unique ID of the Assistant.
 * @param optional nil or *CreateTaskOpts - Optional Parameters:
 * @param "Actions" (map[string]interface{}) - A user-provided JSON object encoded as a string to specify the actions for this task. It is optional and non-unique.
 * @param "ActionsUrl" (string) - User-provided HTTP endpoint where from the assistant fetches actions
 * @param "FriendlyName" (string) - A user-provided string that identifies this resource. It is non-unique and can up to 255 characters long.
 * @param "UniqueName" (string) - A user-provided string that uniquely identifies this resource as an alternative to the sid. Unique up to 64 characters long.
@return PreviewUnderstandAssistantTask
*/
func (c *DefaultApiService) CreateTask(assistantSid string, params *CreateTaskParams) (*PreviewUnderstandAssistantTask, error) {
    path := "/understand/Assistants/{AssistantSid}/Tasks"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)

    data := url.Values{}
    headers := 0

    if params != nil && params.Actions != nil {
        v, err := json.Marshal(params.Actions)

        if err != nil {
            return nil, err
        }

        data.Set("Actions", string(v))
    }
    if params != nil && params.ActionsUrl != nil {
        data.Set("ActionsUrl", *params.ActionsUrl)
    }
    if params != nil && params.FriendlyName != nil {
        data.Set("FriendlyName", *params.FriendlyName)
    }
    if params != nil && params.UniqueName != nil {
        data.Set("UniqueName", *params.UniqueName)
    }


    resp, err := c.client.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantTask{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
DeleteAssistant Method for DeleteAssistant
 * @param sid A 34 character string that uniquely identifies this resource.
*/
func (c *DefaultApiService) DeleteAssistant(sid string) (error) {
    path := "/understand/Assistants/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteCertificate Method for DeleteCertificate
Unregister a specific Certificate credential from the Fleet, effectively disallowing any inbound client connections that are presenting it.
 * @param fleetSid
 * @param sid Provides a 34 character string that uniquely identifies the requested Certificate credential resource.
*/
func (c *DefaultApiService) DeleteCertificate(fleetSid string, sid string) (error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Certificates/{Sid}"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteDeployment Method for DeleteDeployment
Delete a specific Deployment from the Fleet, leaving associated devices effectively undeployed.
 * @param fleetSid
 * @param sid Provides a 34 character string that uniquely identifies the requested Deployment resource.
*/
func (c *DefaultApiService) DeleteDeployment(fleetSid string, sid string) (error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Deployments/{Sid}"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteDevice Method for DeleteDevice
Delete a specific Device from the Fleet, also removing it from associated Deployments.
 * @param fleetSid
 * @param sid Provides a 34 character string that uniquely identifies the requested Device resource.
*/
func (c *DefaultApiService) DeleteDevice(fleetSid string, sid string) (error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Devices/{Sid}"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}
// DeleteDocumentParams Optional parameters for the method 'DeleteDocument'
type DeleteDocumentParams struct {
    If-Match *string `json:"If-Match,omitempty"`
}

/*
DeleteDocument Method for DeleteDocument
 * @param serviceSid
 * @param sid
 * @param optional nil or *DeleteDocumentOpts - Optional Parameters:
 * @param "If-Match" (string) - The If-Match HTTP request header
*/
func (c *DefaultApiService) DeleteDocument(serviceSid string, sid string, params *DeleteDocumentParams) (error) {
    path := "/Sync/Services/{ServiceSid}/Documents/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := url.Values{}
    headers := make(map[string]interface{})


    if params != nil && params.If-Match != nil {
        headers["If-Match"] = *params.If-Match
    }

    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteDocumentPermission Method for DeleteDocumentPermission
Delete a specific Sync Document Permission.
 * @param serviceSid
 * @param documentSid Identifier of the Sync Document. Either a SID or a unique name.
 * @param identity Arbitrary string identifier representing a user associated with an FPA token, assigned by the developer.
*/
func (c *DefaultApiService) DeleteDocumentPermission(serviceSid string, documentSid string, identity string) (error) {
    path := "/Sync/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions/{Identity}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"DocumentSid"+"}", documentSid, -1)
    path = strings.Replace(path, "{"+"Identity"+"}", identity, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteField Method for DeleteField
 * @param assistantSid The unique ID of the Assistant.
 * @param taskSid The unique ID of the Task associated with this Field.
 * @param sid A 34 character string that uniquely identifies this resource.
*/
func (c *DefaultApiService) DeleteField(assistantSid string, taskSid string, sid string) (error) {
    path := "/understand/Assistants/{AssistantSid}/Tasks/{TaskSid}/Fields/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"TaskSid"+"}", taskSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteFieldType Method for DeleteFieldType
 * @param assistantSid
 * @param sid
*/
func (c *DefaultApiService) DeleteFieldType(assistantSid string, sid string) (error) {
    path := "/understand/Assistants/{AssistantSid}/FieldTypes/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteFieldValue Method for DeleteFieldValue
 * @param assistantSid
 * @param fieldTypeSid
 * @param sid
*/
func (c *DefaultApiService) DeleteFieldValue(assistantSid string, fieldTypeSid string, sid string) (error) {
    path := "/understand/Assistants/{AssistantSid}/FieldTypes/{FieldTypeSid}/FieldValues/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"FieldTypeSid"+"}", fieldTypeSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteFleet Method for DeleteFleet
Delete a specific Fleet from your account, also destroys all nested resources: Devices, Deployments, Certificates, Keys.
 * @param sid Provides a 34 character string that uniquely identifies the requested Fleet resource.
*/
func (c *DefaultApiService) DeleteFleet(sid string) (error) {
    path := "/DeployedDevices/Fleets/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteHostedNumberOrder Method for DeleteHostedNumberOrder
Cancel the HostedNumberOrder (only available when the status is in &#x60;received&#x60;).
 * @param sid A 34 character string that uniquely identifies this HostedNumberOrder.
*/
func (c *DefaultApiService) DeleteHostedNumberOrder(sid string) (error) {
    path := "/HostedNumbers/HostedNumberOrders/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteInstalledAddOn Method for DeleteInstalledAddOn
Remove an Add-on installation from your account
 * @param sid The SID of the InstalledAddOn resource to delete.
*/
func (c *DefaultApiService) DeleteInstalledAddOn(sid string) (error) {
    path := "/marketplace/InstalledAddOns/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteJob Method for DeleteJob
 * @param jobSid The unique string that that we created to identify the Bulk Export job
*/
func (c *DefaultApiService) DeleteJob(jobSid string) (error) {
    path := "/BulkExports/Exports/Jobs/{JobSid}"
    path = strings.Replace(path, "{"+"JobSid"+"}", jobSid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteKey Method for DeleteKey
Delete a specific Key credential from the Fleet, effectively disallowing any inbound client connections that are presenting it.
 * @param fleetSid
 * @param sid Provides a 34 character string that uniquely identifies the requested Key credential resource.
*/
func (c *DefaultApiService) DeleteKey(fleetSid string, sid string) (error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Keys/{Sid}"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteModelBuild Method for DeleteModelBuild
 * @param assistantSid
 * @param sid
*/
func (c *DefaultApiService) DeleteModelBuild(assistantSid string, sid string) (error) {
    path := "/understand/Assistants/{AssistantSid}/ModelBuilds/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteQuery Method for DeleteQuery
 * @param assistantSid The unique ID of the Assistant.
 * @param sid A 34 character string that uniquely identifies this resource.
*/
func (c *DefaultApiService) DeleteQuery(assistantSid string, sid string) (error) {
    path := "/understand/Assistants/{AssistantSid}/Queries/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteRatePlan Method for DeleteRatePlan
 * @param sid
*/
func (c *DefaultApiService) DeleteRatePlan(sid string) (error) {
    path := "/wireless/RatePlans/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteSample Method for DeleteSample
 * @param assistantSid The unique ID of the Assistant.
 * @param taskSid The unique ID of the Task associated with this Sample.
 * @param sid A 34 character string that uniquely identifies this resource.
*/
func (c *DefaultApiService) DeleteSample(assistantSid string, taskSid string, sid string) (error) {
    path := "/understand/Assistants/{AssistantSid}/Tasks/{TaskSid}/Samples/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"TaskSid"+"}", taskSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteService Method for DeleteService
 * @param sid
*/
func (c *DefaultApiService) DeleteService(sid string) (error) {
    path := "/Sync/Services/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteSyncList Method for DeleteSyncList
 * @param serviceSid
 * @param sid
*/
func (c *DefaultApiService) DeleteSyncList(serviceSid string, sid string) (error) {
    path := "/Sync/Services/{ServiceSid}/Lists/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}
// DeleteSyncListItemParams Optional parameters for the method 'DeleteSyncListItem'
type DeleteSyncListItemParams struct {
    If-Match *string `json:"If-Match,omitempty"`
}

/*
DeleteSyncListItem Method for DeleteSyncListItem
 * @param serviceSid
 * @param listSid
 * @param index
 * @param optional nil or *DeleteSyncListItemOpts - Optional Parameters:
 * @param "If-Match" (string) - The If-Match HTTP request header
*/
func (c *DefaultApiService) DeleteSyncListItem(serviceSid string, listSid string, index int32, params *DeleteSyncListItemParams) (error) {
    path := "/Sync/Services/{ServiceSid}/Lists/{ListSid}/Items/{Index}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ListSid"+"}", listSid, -1)
    path = strings.Replace(path, "{"+"Index"+"}", index, -1)

    data := url.Values{}
    headers := make(map[string]interface{})


    if params != nil && params.If-Match != nil {
        headers["If-Match"] = *params.If-Match
    }

    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteSyncListPermission Method for DeleteSyncListPermission
Delete a specific Sync List Permission.
 * @param serviceSid
 * @param listSid Identifier of the Sync List. Either a SID or a unique name.
 * @param identity Arbitrary string identifier representing a user associated with an FPA token, assigned by the developer.
*/
func (c *DefaultApiService) DeleteSyncListPermission(serviceSid string, listSid string, identity string) (error) {
    path := "/Sync/Services/{ServiceSid}/Lists/{ListSid}/Permissions/{Identity}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"ListSid"+"}", listSid, -1)
    path = strings.Replace(path, "{"+"Identity"+"}", identity, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteSyncMap Method for DeleteSyncMap
 * @param serviceSid
 * @param sid
*/
func (c *DefaultApiService) DeleteSyncMap(serviceSid string, sid string) (error) {
    path := "/Sync/Services/{ServiceSid}/Maps/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}
// DeleteSyncMapItemParams Optional parameters for the method 'DeleteSyncMapItem'
type DeleteSyncMapItemParams struct {
    If-Match *string `json:"If-Match,omitempty"`
}

/*
DeleteSyncMapItem Method for DeleteSyncMapItem
 * @param serviceSid
 * @param mapSid
 * @param key
 * @param optional nil or *DeleteSyncMapItemOpts - Optional Parameters:
 * @param "If-Match" (string) - The If-Match HTTP request header
*/
func (c *DefaultApiService) DeleteSyncMapItem(serviceSid string, mapSid string, key string, params *DeleteSyncMapItemParams) (error) {
    path := "/Sync/Services/{ServiceSid}/Maps/{MapSid}/Items/{Key}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"MapSid"+"}", mapSid, -1)
    path = strings.Replace(path, "{"+"Key"+"}", key, -1)

    data := url.Values{}
    headers := make(map[string]interface{})


    if params != nil && params.If-Match != nil {
        headers["If-Match"] = *params.If-Match
    }

    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteSyncMapPermission Method for DeleteSyncMapPermission
Delete a specific Sync Map Permission.
 * @param serviceSid
 * @param mapSid Identifier of the Sync Map. Either a SID or a unique name.
 * @param identity Arbitrary string identifier representing a user associated with an FPA token, assigned by the developer.
*/
func (c *DefaultApiService) DeleteSyncMapPermission(serviceSid string, mapSid string, identity string) (error) {
    path := "/Sync/Services/{ServiceSid}/Maps/{MapSid}/Permissions/{Identity}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"MapSid"+"}", mapSid, -1)
    path = strings.Replace(path, "{"+"Identity"+"}", identity, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
DeleteTask Method for DeleteTask
 * @param assistantSid The unique ID of the Assistant.
 * @param sid A 34 character string that uniquely identifies this resource.
*/
func (c *DefaultApiService) DeleteTask(assistantSid string, sid string) (error) {
    path := "/understand/Assistants/{AssistantSid}/Tasks/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
FetchAssistant Method for FetchAssistant
 * @param sid A 34 character string that uniquely identifies this resource.
@return PreviewUnderstandAssistant
*/
func (c *DefaultApiService) FetchAssistant(sid string) (*PreviewUnderstandAssistant, error) {
    path := "/understand/Assistants/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistant{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchAssistantFallbackActions Method for FetchAssistantFallbackActions
 * @param assistantSid
@return PreviewUnderstandAssistantAssistantFallbackActions
*/
func (c *DefaultApiService) FetchAssistantFallbackActions(assistantSid string) (*PreviewUnderstandAssistantAssistantFallbackActions, error) {
    path := "/understand/Assistants/{AssistantSid}/FallbackActions"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantAssistantFallbackActions{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchAssistantInitiationActions Method for FetchAssistantInitiationActions
 * @param assistantSid
@return PreviewUnderstandAssistantAssistantInitiationActions
*/
func (c *DefaultApiService) FetchAssistantInitiationActions(assistantSid string) (*PreviewUnderstandAssistantAssistantInitiationActions, error) {
    path := "/understand/Assistants/{AssistantSid}/InitiationActions"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantAssistantInitiationActions{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchAuthorizationDocument Method for FetchAuthorizationDocument
Fetch a specific AuthorizationDocument.
 * @param sid A 34 character string that uniquely identifies this AuthorizationDocument.
@return PreviewHostedNumbersAuthorizationDocument
*/
func (c *DefaultApiService) FetchAuthorizationDocument(sid string) (*PreviewHostedNumbersAuthorizationDocument, error) {
    path := "/HostedNumbers/AuthorizationDocuments/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewHostedNumbersAuthorizationDocument{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchAvailableAddOn Method for FetchAvailableAddOn
Fetch an instance of an Add-on currently available to be installed.
 * @param sid The SID of the AvailableAddOn resource to fetch.
@return PreviewMarketplaceAvailableAddOn
*/
func (c *DefaultApiService) FetchAvailableAddOn(sid string) (*PreviewMarketplaceAvailableAddOn, error) {
    path := "/marketplace/AvailableAddOns/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewMarketplaceAvailableAddOn{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchAvailableAddOnExtension Method for FetchAvailableAddOnExtension
Fetch an instance of an Extension for the Available Add-on.
 * @param availableAddOnSid The SID of the AvailableAddOn resource with the extension to fetch.
 * @param sid The SID of the AvailableAddOn Extension resource to fetch.
@return PreviewMarketplaceAvailableAddOnAvailableAddOnExtension
*/
func (c *DefaultApiService) FetchAvailableAddOnExtension(availableAddOnSid string, sid string) (*PreviewMarketplaceAvailableAddOnAvailableAddOnExtension, error) {
    path := "/marketplace/AvailableAddOns/{AvailableAddOnSid}/Extensions/{Sid}"
    path = strings.Replace(path, "{"+"AvailableAddOnSid"+"}", availableAddOnSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewMarketplaceAvailableAddOnAvailableAddOnExtension{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchBrandedChannel Method for FetchBrandedChannel
Fetch a specific Branded Channel.
 * @param sid The unique SID identifier of the Branded Channel.
@return PreviewTrustedCommsBrandedChannel
*/
func (c *DefaultApiService) FetchBrandedChannel(sid string) (*PreviewTrustedCommsBrandedChannel, error) {
    path := "/TrustedComms/BrandedChannels/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewTrustedCommsBrandedChannel{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// FetchBrandsInformationParams Optional parameters for the method 'FetchBrandsInformation'
type FetchBrandsInformationParams struct {
    If-None-Match *string `json:"If-None-Match,omitempty"`
}

/*
FetchBrandsInformation Method for FetchBrandsInformation
Retrieve the newest available BrandInformation
 * @param optional nil or *FetchBrandsInformationOpts - Optional Parameters:
 * @param "If-None-Match" (string) - The If-None-Match HTTP request header
@return PreviewTrustedCommsBrandsInformation
*/
func (c *DefaultApiService) FetchBrandsInformation(params *FetchBrandsInformationParams) (*PreviewTrustedCommsBrandsInformation, error) {
    path := "/TrustedComms/BrandsInformation"

    data := url.Values{}
    headers := make(map[string]interface{})


    if params != nil && params.If-None-Match != nil {
        headers["If-None-Match"] = *params.If-None-Match
    }

    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewTrustedCommsBrandsInformation{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchCertificate Method for FetchCertificate
Fetch information about a specific Certificate credential in the Fleet.
 * @param fleetSid
 * @param sid Provides a 34 character string that uniquely identifies the requested Certificate credential resource.
@return PreviewDeployedDevicesFleetCertificate
*/
func (c *DefaultApiService) FetchCertificate(fleetSid string, sid string) (*PreviewDeployedDevicesFleetCertificate, error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Certificates/{Sid}"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewDeployedDevicesFleetCertificate{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchCommand Method for FetchCommand
 * @param sid
@return PreviewWirelessCommand
*/
func (c *DefaultApiService) FetchCommand(sid string) (*PreviewWirelessCommand, error) {
    path := "/wireless/Commands/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewWirelessCommand{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// FetchCpsParams Optional parameters for the method 'FetchCps'
type FetchCpsParams struct {
    X-Xcnam-Sensitive-Phone-Number *string `json:"X-Xcnam-Sensitive-Phone-Number,omitempty"`
}

/*
FetchCps Method for FetchCps
Fetch a specific Call Placement Service (CPS) given a phone number via &#x60;X-XCNAM-Sensitive-Phone-Number&#x60; header.
 * @param optional nil or *FetchCpsOpts - Optional Parameters:
 * @param "X-Xcnam-Sensitive-Phone-Number" (string) - The X-Xcnam-Sensitive-Phone-Number HTTP request header
@return PreviewTrustedCommsCps
*/
func (c *DefaultApiService) FetchCps(params *FetchCpsParams) (*PreviewTrustedCommsCps, error) {
    path := "/TrustedComms/CPS"

    data := url.Values{}
    headers := make(map[string]interface{})


    if params != nil && params.X-Xcnam-Sensitive-Phone-Number != nil {
        headers["X-Xcnam-Sensitive-Phone-Number"] = *params.X-Xcnam-Sensitive-Phone-Number
    }

    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewTrustedCommsCps{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
// FetchCurrentCallParams Optional parameters for the method 'FetchCurrentCall'
type FetchCurrentCallParams struct {
    X-Xcnam-Sensitive-Phone-Number-From *string `json:"X-Xcnam-Sensitive-Phone-Number-From,omitempty"`
    X-Xcnam-Sensitive-Phone-Number-To *string `json:"X-Xcnam-Sensitive-Phone-Number-To,omitempty"`
}

/*
FetchCurrentCall Method for FetchCurrentCall
Retrieve a current call given the originating and terminating number via &#x60;X-XCNAM-Sensitive-Phone-Number-From&#x60; and &#x60;X-XCNAM-Sensitive-Phone-Number-To&#x60; headers.
 * @param optional nil or *FetchCurrentCallOpts - Optional Parameters:
 * @param "X-Xcnam-Sensitive-Phone-Number-From" (string) - The X-Xcnam-Sensitive-Phone-Number-From HTTP request header
 * @param "X-Xcnam-Sensitive-Phone-Number-To" (string) - The X-Xcnam-Sensitive-Phone-Number-To HTTP request header
@return PreviewTrustedCommsCurrentCall
*/
func (c *DefaultApiService) FetchCurrentCall(params *FetchCurrentCallParams) (*PreviewTrustedCommsCurrentCall, error) {
    path := "/TrustedComms/CurrentCall"

    data := url.Values{}
    headers := make(map[string]interface{})


    if params != nil && params.X-Xcnam-Sensitive-Phone-Number-From != nil {
        headers["X-Xcnam-Sensitive-Phone-Number-From"] = *params.X-Xcnam-Sensitive-Phone-Number-From
    }
    if params != nil && params.X-Xcnam-Sensitive-Phone-Number-To != nil {
        headers["X-Xcnam-Sensitive-Phone-Number-To"] = *params.X-Xcnam-Sensitive-Phone-Number-To
    }

    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewTrustedCommsCurrentCall{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchDay Method for FetchDay
Fetch a specific Day.
 * @param resourceType The type of communication – Messages, Calls
 * @param day The ISO 8601 format date of the resources in the file, for a UTC day
*/
func (c *DefaultApiService) FetchDay(resourceType string, day string) (error) {
    path := "/BulkExports/Exports/{ResourceType}/Days/{Day}"
    path = strings.Replace(path, "{"+"ResourceType"+"}", resourceType, -1)
    path = strings.Replace(path, "{"+"Day"+"}", day, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}

/*
FetchDeployment Method for FetchDeployment
Fetch information about a specific Deployment in the Fleet.
 * @param fleetSid
 * @param sid Provides a 34 character string that uniquely identifies the requested Deployment resource.
@return PreviewDeployedDevicesFleetDeployment
*/
func (c *DefaultApiService) FetchDeployment(fleetSid string, sid string) (*PreviewDeployedDevicesFleetDeployment, error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Deployments/{Sid}"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewDeployedDevicesFleetDeployment{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchDevice Method for FetchDevice
Fetch information about a specific Device in the Fleet.
 * @param fleetSid
 * @param sid Provides a 34 character string that uniquely identifies the requested Device resource.
@return PreviewDeployedDevicesFleetDevice
*/
func (c *DefaultApiService) FetchDevice(fleetSid string, sid string) (*PreviewDeployedDevicesFleetDevice, error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Devices/{Sid}"
    path = strings.Replace(path, "{"+"FleetSid"+"}", fleetSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewDeployedDevicesFleetDevice{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchDialogue Method for FetchDialogue
 * @param assistantSid
 * @param sid
@return PreviewUnderstandAssistantDialogue
*/
func (c *DefaultApiService) FetchDialogue(assistantSid string, sid string) (*PreviewUnderstandAssistantDialogue, error) {
    path := "/understand/Assistants/{AssistantSid}/Dialogues/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantDialogue{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchDocument Method for FetchDocument
 * @param serviceSid
 * @param sid
@return PreviewSyncServiceDocument
*/
func (c *DefaultApiService) FetchDocument(serviceSid string, sid string) (*PreviewSyncServiceDocument, error) {
    path := "/Sync/Services/{ServiceSid}/Documents/{Sid}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewSyncServiceDocument{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchDocumentPermission Method for FetchDocumentPermission
Fetch a specific Sync Document Permission.
 * @param serviceSid
 * @param documentSid Identifier of the Sync Document. Either a SID or a unique name.
 * @param identity Arbitrary string identifier representing a user associated with an FPA token, assigned by the developer.
@return PreviewSyncServiceDocumentDocumentPermission
*/
func (c *DefaultApiService) FetchDocumentPermission(serviceSid string, documentSid string, identity string) (*PreviewSyncServiceDocumentDocumentPermission, error) {
    path := "/Sync/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions/{Identity}"
    path = strings.Replace(path, "{"+"ServiceSid"+"}", serviceSid, -1)
    path = strings.Replace(path, "{"+"DocumentSid"+"}", documentSid, -1)
    path = strings.Replace(path, "{"+"Identity"+"}", identity, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewSyncServiceDocumentDocumentPermission{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchExport Method for FetchExport
Fetch a specific Export.
 * @param resourceType The type of communication – Messages, Calls
@return PreviewBulkExportsExport
*/
func (c *DefaultApiService) FetchExport(resourceType string) (*PreviewBulkExportsExport, error) {
    path := "/BulkExports/Exports/{ResourceType}"
    path = strings.Replace(path, "{"+"ResourceType"+"}", resourceType, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewBulkExportsExport{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchExportConfiguration Method for FetchExportConfiguration
Fetch a specific Export Configuration.
 * @param resourceType The type of communication – Messages, Calls
@return PreviewBulkExportsExportConfiguration
*/
func (c *DefaultApiService) FetchExportConfiguration(resourceType string) (*PreviewBulkExportsExportConfiguration, error) {
    path := "/BulkExports/Exports/{ResourceType}/Configuration"
    path = strings.Replace(path, "{"+"ResourceType"+"}", resourceType, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewBulkExportsExportConfiguration{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchField Method for FetchField
 * @param assistantSid The unique ID of the Assistant.
 * @param taskSid The unique ID of the Task associated with this Field.
 * @param sid A 34 character string that uniquely identifies this resource.
@return PreviewUnderstandAssistantTaskField
*/
func (c *DefaultApiService) FetchField(assistantSid string, taskSid string, sid string) (*PreviewUnderstandAssistantTaskField, error) {
    path := "/understand/Assistants/{AssistantSid}/Tasks/{TaskSid}/Fields/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"TaskSid"+"}", taskSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantTaskField{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchFieldType Method for FetchFieldType
 * @param assistantSid
 * @param sid
@return PreviewUnderstandAssistantFieldType
*/
func (c *DefaultApiService) FetchFieldType(assistantSid string, sid string) (*PreviewUnderstandAssistantFieldType, error) {
    path := "/understand/Assistants/{AssistantSid}/FieldTypes/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantFieldType{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchFieldValue Method for FetchFieldValue
 * @param assistantSid
 * @param fieldTypeSid
 * @param sid
@return PreviewUnderstandAssistantFieldTypeFieldValue
*/
func (c *DefaultApiService) FetchFieldValue(assistantSid string, fieldTypeSid string, sid string) (*PreviewUnderstandAssistantFieldTypeFieldValue, error) {
    path := "/understand/Assistants/{AssistantSid}/FieldTypes/{FieldTypeSid}/FieldValues/{Sid}"
    path = strings.Replace(path, "{"+"AssistantSid"+"}", assistantSid, -1)
    path = strings.Replace(path, "{"+"FieldTypeSid"+"}", fieldTypeSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewUnderstandAssistantFieldTypeFieldValue{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchFleet Method for FetchFleet
Fetch information about a specific Fleet in your account.
 * @param sid Provides a 34 character string that uniquely identifies the requested Fleet resource.
@return PreviewDeployedDevicesFleet
*/
func (c *DefaultApiService) FetchFleet(sid string) (*PreviewDeployedDevicesFleet, error) {
    path := "/DeployedDevices/Fleets/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewDeployedDevicesFleet{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchHostedNumberOrder Method for FetchHostedNumberOrder
Fetch a specific HostedNumberOrder.
 * @param sid A 34 character string that uniquely identifies this HostedNumberOrder.
@return PreviewHostedNumbersHostedNumberOrder
*/
func (c *DefaultApiService) FetchHostedNumberOrder(sid string) (*PreviewHostedNumbersHostedNumberOrder, error) {
    path := "/HostedNumbers/HostedNumberOrders/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewHostedNumbersHostedNumberOrder{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchInstalledAddOn Method for FetchInstalledAddOn
Fetch an instance of an Add-on currently installed on this Account.
 * @param sid The SID of the InstalledAddOn resource to fetch.
@return PreviewMarketplaceInstalledAddOn
*/
func (c *DefaultApiService) FetchInstalledAddOn(sid string) (*PreviewMarketplaceInstalledAddOn, error) {
    path := "/marketplace/InstalledAddOns/{Sid}"
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewMarketplaceInstalledAddOn{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchInstalledAddOnExtension Method for FetchInstalledAddOnExtension
Fetch an instance of an Extension for the Installed Add-on.
 * @param installedAddOnSid The SID of the InstalledAddOn resource with the extension to fetch.
 * @param sid The SID of the InstalledAddOn Extension resource to fetch.
@return PreviewMarketplaceInstalledAddOnInstalledAddOnExtension
*/
func (c *DefaultApiService) FetchInstalledAddOnExtension(installedAddOnSid string, sid string) (*PreviewMarketplaceInstalledAddOnInstalledAddOnExtension, error) {
    path := "/marketplace/InstalledAddOns/{InstalledAddOnSid}/Extensions/{Sid}"
    path = strings.Replace(path, "{"+"InstalledAddOnSid"+"}", installedAddOnSid, -1)
    path = strings.Replace(path, "{"+"Sid"+"}", sid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewMarketplaceInstalledAddOnInstalledAddOnExtension{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchJob Method for FetchJob
 * @param jobSid
@return PreviewBulkExportsExportJob
*/
func (c *DefaultApiService) FetchJob(jobSid string) (*PreviewBulkExportsExportJob, error) {
    path := "/BulkExports/Exports/Jobs/{JobSid}"
    path = strings.Replace(path, "{"+"JobSid"+"}", jobSid, -1)

    data := 0
    headers := 0



    resp, err := c.client.Get(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &PreviewBulkExportsExportJob{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}

/*
FetchKey Method for FetchKey
Fetch information about a specific Key credential in the Fleet.
 * @param fleetSid
 * @param sid Provides a 34 character string that uniquely identifies the requested Key credential resource.
@return PreviewDeployedDevicesFleetKey
*/
func (c *DefaultApiService) FetchKey(fleetSid string, sid string) (*PreviewDeployedDevicesFleetKey, error) {
    path := "/DeployedDevices/Fleets/{FleetSid}/Keys/{Sid}"
[...]
