/*
 * This code was generated by
 * ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
 *  |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
 *  |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \
 *
 * Twilio Knowledge API
 * APIs for managing knowledge bases and knowledge content for AI-powered applications.
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"net/url"
	"strings"

	"github.com/twilio/twilio-go/client/metadata"
)

// Retrieve the status and result of an asynchronous operation.
func (c *ApiService) FetchOperation(OperationId string) (*OperationStatus, error) {
	path := "/v2/ControlPlane/Operations/{operationId}"
	path = strings.Replace(path, "{"+"operationId"+"}", OperationId, -1)

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/x-www-form-urlencoded",
	}

	resp, err := c.requestHandler.Get(c.baseURL+path, data, headers, c.apiVersion)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()

	ps := &OperationStatus{}
	if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
		return nil, err
	}

	return ps, err
}

// FetchOperationWithMetadata returns response with metadata like status code and response headers
func (c *ApiService) FetchOperationWithMetadata(OperationId string) (*metadata.ResourceMetadata[OperationStatus], error) {
	path := "/v2/ControlPlane/Operations/{operationId}"
	path = strings.Replace(path, "{"+"operationId"+"}", OperationId, -1)

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/x-www-form-urlencoded",
	}

	resp, err := c.requestHandler.Get(c.baseURL+path, data, headers, c.apiVersion)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()

	ps := &OperationStatus{}
	if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
		return nil, err
	}

	metadataWrapper := metadata.NewResourceMetadata[OperationStatus](
		*ps,             // The resource object
		resp.StatusCode, // HTTP status code
		resp.Header,     // HTTP headers
	)

	return metadataWrapper, nil
}
